.footer {
	padding: 50px 0;
	background: $color-darker;

	&__container {}

	&__block {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-weight: 700;
		color: $color-white;

		&+* {
			margin-top: 30px;
		}
	}

	&__images {
		display: grid;
		grid-auto-rows: 260px;
		grid-template-columns: repeat(4, 1fr);
		gap: 50px;

		@media(max-width: 1000px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(max-width: 500px) {
			grid-template-columns: repeat(1, 1fr);
		}

		&+* {
			margin-top: 50px;
		}
	}

	&__item {
		position: relative;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: wrap;

		@media(max-width: 460px) {
			flex-direction: column;
		}
	}

	&__link {
		font-weight: 700;
		color: $color-white;
		transition: color 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				color: $color-blue;
			}
		}
	}
}