.galary {
	&+* {
		margin-top: clamp(3.125rem, 1.223rem + 10.87vw, 9.375rem);
	}

	&__container {}

	&__block {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 340px 270px 270px;
		gap: clamp(0.313rem, 0.027rem + 1.63vw, 1.25rem);

		@media(max-width: 1200px) {
			grid-template-rows: 28.3vw 22.5vw 22.5vw;
		}
	}

	&__item {
		position: relative;

		&:nth-child(1) {
			grid-row: 1/2;
			grid-column: 1/4;
		}

		&:nth-child(2) {
			grid-row: 1/2;
			grid-column: 4/9;

			& img {
				border-radius: 0px 500px 0px 0px;
			}
		}

		&:nth-child(3) {
			grid-row: 2/3;
			grid-column: 1/3;

			& img {
				border-radius: 0px 0px 150px 0px;
			}
		}

		&:nth-child(4) {
			grid-row: 2/3;
			grid-column: 3/6;

			& img {
				border-radius: 0px 200px 0px 0px;
			}
		}

		&:nth-child(5) {
			grid-row: 2/3;
			grid-column: 6/9;

			& img {
				border-radius: 200px 0px 0px 0px;
			}
		}

		&:nth-child(6) {
			grid-row: 3/4;
			grid-column: 1/3;

			& img {
				border-radius: 0px 0px 0px 200px;
			}
		}

		&:nth-child(7) {
			grid-row: 3/4;
			grid-column: 3/9;

			& img {
				border-radius: 0px 0px 0px 400px;
			}
		}

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}