.intro {
	position: relative;
	min-height: 100vh;
	font-family: Comfortaa, sans-serif;
	font-weight: 700;

	@media(min-width: 930px) {
		padding-bottom: 300px;
	}

	&__container {
		padding-top: 57px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: clamp(6.25rem, 1.467rem + 23.91vw, 20rem);

		@media(min-height: 1200px) {
			gap: clamp(18.75rem, -56.25rem + 100vw, 37.5rem);
			;
		}
	}

	&__up {
		display: flex;
		gap: clamp(2.5rem, 1.321rem + 6.74vw, 6.375rem);
		align-items: center;
		flex-wrap: wrap;

		@media(max-width: 620px) {
			justify-content: flex-end;
		}

		@media(max-width: 480px) {
			justify-content: flex-start;
		}
	}

	&__button {
		@extend %buy-btn;
		background: $color-darker;
		padding: 12px 77px;
		color: $color-white;

	}

	&__number {
		color: $color-darker;
	}

	&__content {
		color: $color-white;
		text-align: center;
	}

	&__title {
		font-size: 64px;

		&+* {
			margin-top: 30px;
		}

		@media(max-width: 860px) {
			font-size: clamp(1.875rem, 0.849rem + 5.86vw, 4rem);
		}
	}

	&__sup-title {
		font-size: 24px;

		&+* {
			margin-top: 30px;
		}

		@media(max-width: 860px) {
			font-size: clamp(1.25rem, 1.129rem + 0.69vw, 1.5rem);
		}
	}

	&__bg {

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}
}

.deco-transition {
	height: clamp(1.875rem, -0.044rem + 10.96vw, 17.5rem);
	background: #262C27;
	position: relative;

	&__tree-one {
		position: absolute;
		top: -120%;
		left: 0;
		width: 100%;

		& img {
			width: 100%;
		}
	}

	&__tree-two {
		position: absolute;
		top: -20%;
		left: 0;
		width: 100%;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	&__text {
		position: absolute;
		font-family: 'Comfortaa';
		font-size: clamp(2.5rem, 0.788rem + 9.78vw, 8.125rem);
		color: #0093A1;
		opacity: 0.3;
	}

	&__text_1 {
		z-index: -1;
		bottom: 140%;
		right: 28%;
	}

	&__text_2 {
		bottom: 70%;
		left: 34%;
	}

	&__text_3 {
		bottom: 78%;
		right: 25%;
		font-weight: 300;
		font-style: italic;
		font-size: clamp(0.625rem, 0.207rem + 2.39vw, 2rem);
		opacity: 1;
		max-width: 360px;
		text-align: center;
	}

	@media(max-width: 1730px) {
		&__text_1 {
			bottom: 140%;
			right: 5%;
		}

		&__text_2 {
			bottom: 56%;
			left: 10%;
		}

		&__text_3 {
			bottom: 78%;
			right: 5%;
		}
	}

	@media(max-width: 991px) {
		&__text_1 {
			bottom: 100%;
			right: 5%;
		}

		&__text_2 {
			bottom: 50%;
			left: 10%;
		}

		&__text_3 {
			bottom: 20%;
			right: 5%;
		}
	}
}