.specs {
	padding-top: 70px;
	padding-bottom: 30px;
	position: relative;

	&+* {
		margin-top: clamp(6.25rem, 5.729rem + 2.98vw, 9.375rem);
	}

	font-size: 18px;
	line-height: 1.2;
	color: $color-white;

	&__container {}

	&__up {
		display: inline-flex;
		align-items: end;
		gap: 82px;

		&+* {
			margin-top: clamp(3.125rem, -2.604rem + 32.74vw, 37.5rem);
		}

		@media(max-width: 1000px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@media(max-width: 600px) {
			display: flex;
			flex-direction: column;
			max-width: 300px;
			margin: 0 auto;
		}

	}

	&__content {
		flex: 0 1 680px;
		display: flex;
		gap: 87px;

		@media(max-width: 1000px) {
			flex-direction: column;
			flex: 0 1 300px;
		}
	}

	&__play-with-text {
		flex: 0 1 290px;
		display: flex;
		flex-direction: column;
		align-items: end;

		@media(max-width: 1000px) {
			align-items: center;
			gap: 20px;
		}
	}

	&__text {
		flex: 1 1 auto
	}

	&__play {}

	&__big-text {
		flex: 0 1 290px;
		padding-bottom: 30px;
		border-bottom: 1px $color-white solid;
	}

	&__board {}

	&__down {
		display: flex;
		gap: 87px;
		align-items: center;

		@media(max-width: 991px) {
			flex-direction: column;
			align-items: start;
		}

		position: relative;
	}

	&__title {
		flex: 0 0 290px;
		font-size: 60px;
		text-transform: uppercase;

		@media(max-width: 991px) {
			flex: 1 1 auto;
		}
	}

	&__lists {
		display: flex;
		gap: 30px;
		font-weight: 700;

		padding: 40px 0;
		border-bottom: 1px $color-white solid;
		border-top: 1px $color-white solid;

		& li+li {
			margin-top: 10px;
		}
	}

	&__list-names {
		@media(max-width: 650px) {
			transition: opacity 0.5s ease;

			&._active {
				opacity: 0;
			}

		}
	}

	&__list-discriptions {

		@media(max-width: 650px) {
			position: absolute;
			bottom: 40px;
			left: 0;
			opacity: 0;
			transition: opacity 0.5s ease;

			&._active {
				opacity: 1;
			}

		}
	}

	&__list-name {}

	&__list-discription {}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
}