.technology {
	position: relative;
	padding-top: 470px;
	padding-bottom: 84px;

	@media(max-width: 830px) {
		padding-bottom: 450px;
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__play {
		align-self: end;
		width: 780px;
		text-align: center;

		color: $color-white;

		&+* {
			margin-top: 154px;
		}

		@media(max-width: 830px) {
			width: auto;
			align-self: center;
		}
	}

	&__content {}

	&__title {
		max-width: 470px;
		@include regularTitle($color-darker);

		&+* {
			margin-top: 70px;
		}

		@media(max-width: 430px) {
			font-size: 30px;
		}
	}

	&__list {
		max-width: 440px;

		& li {
			list-style-position: inside;

			&:not(:first-child) {
				margin-top: 15px;
			}
		}

		font-weight: 700;
		font-size: 20px;
		color: $color-darker;

	}

	&__bg {
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}

	&__deco {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		@media(max-width: 1200px) {
			height: 450px;
		}


		& img {
			width: 100%;

			@media(max-width: 1200px) {
				max-width: 100%;
				object-fit: cover;
				height: 100%;
			}
		}
	}

	&__deco_black {
		//top: -110px;
		top: -(10%);
		z-index: 1;
	}

	&__deco_white {
		//top: -220px;
		top: -18%;
		z-index: 2;
	}
}

//TECHNOLOGY-GALARY

.technology-galary {
	margin-top: -320px;

	&+* {
		margin-top: clamp(3.125rem, 1.223rem + 10.87vw, 9.375rem);
	}

	&__container {}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media(max-width: 1200px) {
			flex-direction: column;
			align-items: end;
			gap: clamp(3.125rem, 0.272rem + 16.3vw, 12.5rem);
		}
	}

	&__text {
		flex: 0 1 350px;

		@media(min-width: 1200px) {
			margin-top: 200px;
		}

		@media(max-width: 1200px) {
			max-width: 350px;
			color: $color-white;
			flex: 1 1 auto;
		}
	}

	&__galary {
		position: relative;
		flex: 0 1 780px;
		display: grid;
		grid-template-rows: 430px 300px;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		padding: 70px 30px 50px;

		@media(max-width: 1200px) {
			width: 100%;
			flex: 1 1 auto;
		}

		@media(max-width: 630px) {
			grid-template-rows: 215px 150px;
		}

		@media(max-width: 430px) {
			padding: 35px 15px 25px;
			grid-template-rows: 115px 50px;
		}
	}

	&__border {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 3px solid $color-darker;
		border-radius: 200px 0px 300px;
		z-index: 5;

		@media(max-width: 430px) {
			border-radius: 100px 0px 150px;
		}
	}

	&__item {
		position: relative;
		z-index: 2;

		&:nth-child(1) {
			grid-row: 1 / 2;
			grid-column: 1/4;

			& img {
				border-radius: 400px 0 0 0;
			}
		}

		&:nth-child(2) {
			grid-row: 2 / 3;
			grid-column: 1/3;

			& img {
				border-radius: 0 0 0 300px;
			}
		}

		&:nth-child(3) {
			grid-row: 2 / 3;
			grid-column: 3/4;
		}

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}