.hotel-card {
	position: relative;
	background-color: $mainColor2;
	border-radius: rem(8);
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&__like {
		&::before {
			position: absolute;
			top: rem(24);
			right: rem(24);
			z-index: 6;
			font-size: rem(20);
			transition: color 0.2s ease;
		}

		&._like::before {
			color: rgb(211, 31, 31);
		}
	}

	&__image {
		position: relative;
		width: 100%;
		height: 256px;
		@extend %imageAbsolute;

		&+* {
			margin-top: rem(12);
		}
	}

	&__body {
		flex: 1 1 auto;
		padding: rem(15) rem(24);
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	&__title {
		font-family: 'Arsenal';
		font-weight: 700;
		font-size: rem(24);
		letter-spacing: 0.01em;
		color: $mainColor;

		&+* {
			margin-top: rem(18);
		}
	}

	&__stars {
		display: flex;
		flex-direction: row-reverse;
		align-self: start;

		&[data-star="1"] .star-card:nth-child(n + 5),
		&[data-star="2"] .star-card:nth-child(n + 4),
		&[data-star="3"] .star-card:nth-child(n + 3),
		&[data-star="4"] .star-card:nth-child(n + 2),
		&[data-star="5"] .star-card:nth-child(n + 1) {
			color: $tabColor;
		}

		&+* {
			margin-top: rem(30);
		}
	}

	&__star {
		&+& {
			margin-right: rem(8);
		}
	}

	&__price {
		text-align-last: right;
		font-family: 'DM Serif Display';

		&+* {
			margin-top: rem(30);
		}
	}

	&__cross-out {
		font-style: italic;
		font-size: rem(22);
		letter-spacing: 0.02em;
		text-decoration-line: line-through;
		color: #B1B4B9;
	}

	&__discount {
		font-size: rem(48);
		line-height: 0.5;
		letter-spacing: 0.02em;
		color: $mainColor;
	}

	&__on-that {}

	&__text {
		flex: 1 1 auto;
		color: #8991AF;
		line-height: 1.5;

		&+* {
			margin-top: rem(10);
		}
	}

	&__benefit {
		font-size: rem(14);
		text-align: center;
		letter-spacing: 0.02em;
		color: #111111;

		&+* {
			margin-top: rem(10);
		}
	}

	&__button {
		font-weight: 700;
		font-size: rem(17);
		letter-spacing: 0.2em;
		color: $mainColor;
		border-radius: rem(4);

		padding: rem(26) rem(56);
		background-color: $blueColor;
		cursor: pointer;
		transition: all 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($color: #004585, $alpha: 1.0);
			}
		}
	}
}