@import './other-info';
@import './card-cart';
.cart {
   display: flex;
   flex-direction: column;
   width: 400px;
   min-height: 100%;
   background-color: #fff;
   position: fixed;
   top: 0;
   bottom: 0;
   right: -100%;

   padding: 30px;
   z-index: 10;

   transition: right 0.3s ease;
   overflow: auto;

   @media (max-width: 400px) {
      width: 280px;
      padding: 15px;
   }

   &._active {
      right: 0;
   }

   &__mask {
      display: none;
      &._active {
         display: block;
      }
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba($color: #000000, $alpha: 0.3);
      z-index: 5;
   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;

      & + * {
         margin-top: 30px;
      }
   }
   &__cart-catalog {
      flex: 1 1 auto;
   }
   &__card {
   }
   &__info {
      display: flex;
      flex-direction: column;
   }
   &__info-place {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      & + * {
         margin-top: 20px;
      }
   }
   &__info-total {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
   }
   &__info-name {
      font-size: 16px;
      line-height: 19px;
   }
   &__checkout-btn {
      max-width: 320px;
   }
   &__other-info {
   }
}
