.card-cart {
   display: flex;
   gap: 16px;

   background: #ffffff;
   border: 1px solid #f3f3f3;
   border-radius: 20px;
   padding: 20px;

   & + * {
      margin-top: 20px;
   }

   @media (max-width: 400px) {
      flex-direction: column;
   }

   &__img {
      position: relative;
      flex: 0 0 150px;

      & img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @media (min-width: 400px) {
         flex: 0 0 70px;
      }
   }
   &__info {
   }
   &__title {
      font-size: 14px;
      line-height: 17px;
   }
   &__price {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
   }
   &__delete {
   }
}
