.other-info-cart {
   max-width: 290px;
   position: absolute;
   top: 50%;
   right: 50%;

   transform: translate(50%, -50%);

   display: flex;
   flex-direction: column;
   align-items: center;
   &__img {
      position: relative;
      width: 120px;
      height: 120px;

      & img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: scale-down;
      }

      & + * {
         margin-top: 20px;
      }
   }
   &__title {
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      & + * {
         margin-top: 10px;
      }
   }
   &__text {
      text-align: center;
      opacity: 0.4;
      & + * {
         margin-top: 40px;
      }
   }
   &__btn {
   }
}
