*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	background-color: #383838;
}

.wrapper {}

/*==============================================================*/

.section {
	overflow: hidden;
}

@media (min-width: 767px) {
	.section {
		display: flex;
	}
}

.section__content {
	flex: 0 0 100%;
	display: flex;
}

.section__container {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: #6b6a6a;
	display: flex;
	align-items: center;
}

.section__body {
	padding: 50px 0px 50px 0;
}

@media (min-width: 767px) {
	.section__body {
		padding: 50px 20px 50px 0;
		width: 40%;
	}
}

.section__title {
	font-size: 40px;
	margin-bottom: 20px;
}

.section__text {
	line-height: 1.3;
	font-size: 16px;
}

.section__image {}

.section__image img {
	max-width: 100%;
}

@media (min-width: 767px) {
	.section__image {
		position: relative;
		flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
		padding: 0 0 44%;
		transform: translate(-100%, 0px);
	}

	.section__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (min-width: 1360px) {
	.section__image {
		/* flex: 0 0 calc(100vw - (((100vw - 1360px) / 2) + ((1360px - 40px) * 0.4) + 20px)); */

		flex: 0 0 calc(50vw - (0.4 - 0.5) * (1360px - 40px));
	}
}