.comment-slider {
	&+* {
		@include adaptivValue("margin-top", 300, 50, 1);
	}

	&__container {
		max-width: 1030px;

		@media(min-width: 750px) {
			display: flex;
		}
	}

	&__dicoretion {
		margin-bottom: 15px;
		margin-top: 0;

		@media(min-width: 750px) {
			flex: 0 0 20%;
			margin-bottom: 0;
			margin-top: 20px;
		}
	}

	&__swiper {

		@media(min-width: 750px) {
			flex: 0 0 80%;
		}
	}

	&__swiper-wrapper {}

	&__swiper-slide {}

	&__text {
		font-family: 'Arsenal';
		font-style: italic;
		@include adaptivValue("font-size", 32, 25, 1);
		line-height: 170%;
		color: $mainColor;

		&+* {
			margin-top: 25px;
		}
	}

	&__author {
		font-size: rem(18);
		color: #8991AF;

		& span {
			font-weight: 700;
			color: $mainColor;
		}
	}

	&__swiper-pagination {}
}