.intro {
	position: relative;
	padding: rem(290) 0 rem(195) 0;

	&__container {}

	&__header {
		margin: 0 auto;
		max-width: rem(800);
		text-align: center;

		&+* {
			@include adaptivValue("margin-top", 130, 50, 1)
		}
	}

	&__sup-title {
		font-family: 'Arsenal';
		font-weight: 400;
		@include adaptivValue("font-size", 36, 20, 1);
		letter-spacing: 0.2em;
		text-transform: uppercase;

		&+* {
			margin-top: rem(23);
		}
	}

	&__title {
		font-family: 'Arsenal';
		font-weight: 400;
		@include adaptivValue("font-size", 144, 50, 1);
		text-transform: uppercase;

		&+* {
			margin-top: rem(36);
		}
	}

	&__sub-title {
		font-style: italic;
		font-size: rem(18);
		letter-spacing: 0.1em;

		&+* {
			margin-top: rem(17);
		}
	}

	&__search {
		display: flex;
		justify-content: center;
	}

	&__input {
		flex: 0 1 rem(480);
		padding: rem(25) rem(34);
		border-radius: rem(10) 0 0 rem(10);

		font-size: rem(19);
		color: $searchColor;

		&::placeholder {
			color: #777777;
		}

		@media(max-width: 456px) {
			padding: rem(16) rem(25);
		}
	}

	&__button {
		padding: rem(26) rem(35);
		background-color: $searchColor;
		color: $mainColor;
		border-radius: 0 rem(10) rem(10) 0;
		font-size: rem(24);

		@media(max-width: 456px) {
			padding: rem(16) rem(25);
		}
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		//gap: 70px;
		@include adaptivValue("gap", 70, 25, 1);
		flex-wrap: wrap;

		&+* {
			@include adaptivValue("margin-top", 270, 50, 1)
		}

	}

	&__body {
		flex: 0 1 230px;

		& img {
			&+* {
				margin-top: rem(19);
			}
		}
	}

	&__card-title {
		font-family: 'Arsenal';
		font-weight: 700;
		font-size: rem(22);

		&+* {
			margin-top: rem(15);
		}
	}

	&__card-text {}

	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptivValue("gap", 140, 25, 1);
		flex-wrap: wrap;
	}

	&__title-text {
		flex: 0 1 rem(550);

		font-family: 'Arsenal';
		@include adaptivValue("font-size", 48, 40, 1);
		line-height: rem(60);
	}

	&__text {
		flex: 0 1 rem(550);

		font-size: rem(17);
		line-height: 1.7;
	}

	&__bg {
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}
}