@use "scss:math";

//Подключение функций=================================================================================================================
@import "base/function";

// Подключение миксинов==========================================================================================================================
@import "base/mixin";

// Подключение шрифтов==========================================================================================================================
//&display=swap - При подключении через плагин

// Подключение локальных файдов шрифта==========================================================================================================
//@import "fonts/fonts";

// Подключение иконочного шрифтов=========================================================================================================
//@import "fonts/icons";


//Шрифт по умолчанию===================================================================================================
$fontFamily: "";
$fontSize: rem(14); //где 14px

//Основные цвета================================================================================================================
$mainColor: #000;

//НАСТРОЙКИ=============================================================================================================================
//Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера ( 0 = нет ограничений)
$maxWidthContainer: 1170;
//Общий отступ у контайнера
// справа + слева
$containerPadding: 30;

// Обнуление и общие параметры=============================================================================================================================
@import "base/reset";

body {
	font-weight: 500;

	//Блокировка скролла
	._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//Оболочка
.wrapper {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	>main {
		flex: 1 1 auto;
	}

	//Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

//Общии стили
@import "common/common";

//Header и Footer
@import "header";
@import "footer";

//Все осттальные стили======================================================================================================================================