// HEADER============================================================

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 56px 0 0 0;
	z-index: 50;

	&__container {}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 100px;
	}

	&__logo {
		z-index: 10;
	}

	&__logo-link {}

	&__burger {
		display: none;
	}

	&__menu {}

	&__list {
		display: flex;
	}

	&__list li:not(:last-child) {
		margin: 0 82px 0;
	}

	&__link {
		color: #fff;
		font-size: 18px;
		line-height: 1.33;
		transition: all 0.1s linear;
	}

	&__link:hover,
	&__link:focus,
	&__link:active {
		opacity: 0.75;
	}

	@media(max-width: 1100px) {
		&__list li:not(:last-child) {
			margin: 0 60px 0;
		}
	}

	@media(max-width: 991px) {
		padding: 30px 0 0 0;

		&__burger {
			display: block;
			height: 20px;
			width: 30px;
			position: relative;
			z-index: 10;
		}

		&__burger::before,
		&__burger::after {
			content: '';
			position: absolute;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: #fff;
			transition: all 0.3s ease;
		}

		&__burger::before {
			top: 0;
		}

		&__burger::after {
			bottom: 0;
		}

		&__burger span {
			position: absolute;
			left: 0;
			top: 9px;
			height: 2px;
			width: 100%;
			background-color: #fff;
			transition: all 0.3s ease;
		}

		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #006DFE;
			z-index: 9;
			padding: 150px 20px 100px;
			transition: all 0.3s ease;
			overflow: auto;
		}

		&__list {
			display: block;
		}

		&__list li:not(:last-child) {
			margin: 0 0 50px 0;
		}

		&__list li {
			border-bottom: #fff solid 2px;
			padding: 0 0 10px 0;
		}

		&__link {
			font-size: 30px;
		}

		&__menu.active {
			top: 0;
		}

		&__burger.active::before {
			transform: rotate(45deg);
			top: 9px;
		}

		&__burger.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}

		&__burger.active span {
			transform: scale(0);
		}
	}

	@media(max-width: 676px) {
		&__row {
			padding: 0 30px;
		}
	}
}