//TOP-PLACES==================================
.main {

	&__top-places {}
}

.top-places {
	margin: 0 0 86px 0;

	&__container {}

	&__title {
		@extend %block-title;
		@extend %title-blue-line;
		position: relative;
		margin: 0 0 64px 0;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -25px;
	}

	&__column {
		flex: 0 0 33.333%;
		padding: 0 25px;
		margin: 0 0 58px 0;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__photo {
		margin: 0 0 45px 0;
		height: 377px;
		width: 100%;
		overflow: hidden;
	}

	&__photo-tile {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__photo-tile::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 55px;
		width: 100%;
		background-color: rgba($color: #000, $alpha: 0.6);
		opacity: 0;
		transition: all 0.3s ease;
	}

	&__photo-tile:hover::before {
		opacity: 1;
	}

	&__photo-tile img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	//--------------------------
	&__info {
		position: absolute;
		left: 0;
		bottom: -50%;
		z-index: 5;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 25px;
		opacity: 0;
		transition: all 0.3s ease;
	}

	&__name-place {
		color: #fff;
	}

	&__dop-info {
		display: flex;
		align-items: center;
	}

	&__like {
		display: flex;
		align-items: center;
		margin: 0 14px 0 0;
	}

	&__like a {
		color: #fff;
		margin: 0 4px 0 0;
	}

	&__like img {
		width: 16px;
		height: 15px;
	}

	&__comment {
		display: flex;
		align-items: center;
	}

	&__comment a {
		color: #fff;
		margin: 0 4px 0 0;
	}

	&__comment img {
		width: 15px;
		height: 15px;
	}

	&__photo-tile:hover &__info {
		bottom: 15px;
		opacity: 1;
	}

	//-------------------------------------
	&__text {
		margin: 0 0 30px 0;
		color: #102746;
	}

	&__link {}

	&__link a {
		line-height: 1.25;
		text-transform: uppercase;
		color: #fff;
		padding: 12px 19px;
		background: #006DFE;
		transition: all 0.3s ease;
	}

	&__link a:hover,
	&__link a:focus,
	&__link a:active {
		background: #024fb3;
	}

	@media(max-width: 1200px) {
		&__row {
			margin: 0 -10px;
		}

		&__column {
			padding: 0 10px;
		}
	}

	@media(max-width: 991px) {
		&__column {
			flex: 0 0 50%;
		}
	}

	@media(max-width: 767px) {
		&__column {
			flex: 0 0 100%;
		}
	}
}