@import "fonts.scss";
@import "reset.scss";
@import "base.scss";
@import "template.scss";
@import "first/swiper.scss";
@import "first/header.scss";
@import "first/footer.scss";
@import "index/home-slider.scss";
@import "index/new-collection.scss";
@import "other/line-galary.scss";
@import "index/aesthetic.scss";
@import "index/how-it-works.scss";
@import "index/index-galary.scss";
@import "other/tab-galary.scss";
@import "other/galary-block.scss";
@import "index/inspiration.scss";