@mixin baseFont ($fz, $cl) {
	font-family: Montserrat;
	font-weight: 700;
	font-size: $fz;
	line-height: 1.4;
	text-align: center;

	color: rgba($color: $cl, $alpha: 0.9);
}

%simpletext1 {
	font-size: 16px;
	line-height: 1.7;
	color: $cl-base1;
}

@mixin simpleText2 ($cl) {
	font-weight: 600;
	font-size: 14px;
	line-height: 2;
	color: $cl;
}

%inputArea {
	font-size: 16px;
	line-height: 1.7;
	color: $cl-text2;
	background: none;
	opacity: 0.7;
	border: 1px solid $cl-base2;
	border-radius: 21px;

	transition: opacity 0.3s ease;

	&:focus {
		opacity: 1;
	}
}

%buttonBlack {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.7;
	color: #FFFFF0;

	background: $cl-base2;
	border-radius: 21px;

	transition: opacity 0.3s ease;

	@media(any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}
}

@mixin textUpLine($w, $p) {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: $p;
		left: 0;
		width: $w;
		height: 1px;
		background: #6D7278;
		border: 1px solid #979797;
	}
}

%imageAbsolute {

	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}