@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-color: #121B25;
  --accent-color: #15786C;
  --text-color: #D6D6D6;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-----------------------GANARAL------------------------------*/
.text {
  font-size: 18px;
  line-height: 1.7;
  color: var(--text-color);
}

.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  line-height: 1.26;
  text-transform: capitalize;
}

/*-----------------------/GANARAL------------------------------*/
/*-----------------------HEADER------------------------------*/
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 15px;
}
.header__logo {
  max-width: 200px;
}
.header__logo img {
  max-width: 100%;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}
.header__buttons {
  display: flex;
  gap: 5px;
}
.header__btn {
  padding: 11px 20px;
  color: #fff;
  border: solid 2px var(--accent-color);
  background: transparent;
  transition: background 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__btn {
    padding: 7px 15px;
  }
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    background-color: var(--accent-color);
    display: flex;
    overflow: auto;
    padding: 20px 0;
    transition: left 0.2s;
    z-index: 6;
  }
  .menu._active {
    left: 0;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 992px) {
  .menu__icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span {
    transition: all 0.3s ease;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon._active span:last-child {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
}
.menu__body {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: auto;
}
@media (max-width: 992px) {
  .menu__body {
    flex-direction: column;
  }
}
.menu__link {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--text-color);
  transition: color 0.2s;
  position: relative;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--accent-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #fff;
  }
  .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 992px) {
  .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}

@media (any-hover: hover) {
  .login:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 425px) {
  .login {
    display: none;
  }
}

.register {
  background-color: var(--accent-color);
}
@media (any-hover: hover) {
  .register:hover {
    background-color: transparent;
  }
}

/*-----------------------/HEADER------------------------------*/
/*-----------------------HERO------------------------------*/
.hero {
  margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  position: relative;
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
}
.hero__deco {
  position: absolute;
  bottom: -150px;
  right: 0;
  z-index: -1;
}
@media (max-width: 992px) {
  .hero__deco {
    height: 300px;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 0 49.2957746479%;
  margin-bottom: 160px;
}
@media (max-width: 992px) {
  .hero__content {
    margin-bottom: 30px;
  }
}
.hero__title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  height: 100px;
  width: 880px;
  background-color: #fff;
  margin-top: 60px;
  position: absolute;
  z-index: 3;
}
@media (max-width: 992px) {
  .hero__filter {
    position: static;
    width: 100%;
  }
}
.hero__img {
  flex: 0 0 49.2957746479%;
  position: relative;
  padding: 0 45% 45% 0;
}
@media (max-width: 992px) {
  .hero__img {
    padding: 0 75% 75% 0;
  }
}
.hero__img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
}
@media (max-width: 576px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    height: auto;
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block {
  position: relative;
}
.filter__block:nth-child(2) {
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}
.filter__btn button:active {
  background-color: #12655B;
}
@media (max-width: 576px) and (min-width: 475px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter__button {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 0 clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
  cursor: pointer;
}
.block-filter__header {
  display: flex;
  align-items: center;
}
.block-filter__type {
  padding-right: 2px;
  font-size: 16px;
  color: #858585;
}
.block-filter__icon {
  transition: all 0.2s;
}
.block-filter__icon._active {
  transform: rotate(180deg);
}
.block-filter__value {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.26;
  text-transform: capitalize;
  color: var(--bg-color);
}
.block-filter__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  overflow: hidden;
  opacity: 0;
  visibility: none;
  pointer-events: none;
  z-index: 3;
  box-shadow: 0 0 1px 1px #000;
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  transition: background 0.2s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

/*-----------------------/HERO------------------------------*/
/*-----------------------FEATURED------------------------------*/
.featured {
  padding-top: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
}
.featured__box {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  overflow: auto;
}
.featured__item {
  flex: 0 0 auto;
}
/*-----------------------/FEATURED------------------------------*/
/*-----------------------POPULAR------------------------------*/
.popular {
  background: #1a242f url("../../img/slider-bg/bg-slider.png");
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
}
.popular__title {
  margin-bottom: 40px;
}
.popular__slider {
  position: relative;
}
.popular__link {
  text-align: center;
  margin-top: 65px;
}
.popular__link a {
  display: inline-block;
  padding: 22px 42px;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  margin: 0 auto;
  color: #fff;
  background-color: var(--accent-color);
  transition: all 0.2s ease;
}
@media (any-hover: hover) {
  .popular__link a:hover {
    background-color: #0f6157;
  }
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
@media (max-width: 640px) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__thumb img {
  max-width: 100%;
}
.popular-slide__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.popular-slide__labels {
  display: flex;
  gap: 20px;
}
@media (max-width: 640px) {
  .popular-slide__labels {
    justify-content: center;
  }
}
.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: inline-flex;
}

.slider-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1750px) {
  .slider-buttons {
    width: auto;
    top: -100px;
    right: 0;
    gap: 30px;
  }
}

.popular-slider-prev {
  position: absolute;
  left: -130px;
  transform: rotate(180deg);
}

.popular-slider-next {
  position: absolute;
  right: -130px;
}

.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url("../../img/icon/arrow-slider.svg") left 30px center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}
@media (max-width: 1750px) {
  .popular-slider-btn {
    position: static;
  }
}
@media (max-width: 640px) {
  .popular-slider-btn {
    display: none;
  }
}

/*-----------------------/POPULAR------------------------------*/
/*-----------------------WHY------------------------------*/
.why {
  padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
}
.why__title {
  text-align: center;
}
.why__body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  gap: clamp(1.25rem, 0.705rem + 10vw, 3.125rem);
}
@media (max-width: 768px) {
  .why__body {
    flex-direction: column;
  }
}
.item-why {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 26.4788732394%;
}
.item-why__img {
  width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: clamp(1.563rem, 1.362rem + 1vw, 2.25rem);
}
.item-why__img::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.12;
}
.item-why__img svg {
  width: 40%;
  height: 40%;
}
.item-why__title {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.item-why__text {
  margin-top: 11px;
}

/*-----------------------/WHY------------------------------*/
/*-----------------------REVIEWS------------------------------*/
.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
}
.reviews .reviews-deco {
  position: absolute;
  top: -500px;
  left: 0;
  z-index: -1;
}
@media (max-width: 475px) {
  .reviews .reviews-deco {
    width: 300px;
  }
}
.reviews .swiper-wrapper {
  align-items: flex-start;
}
.reviews__container {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
  padding-top: 195px;
}
.reviews__quotes {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 260px;
  text-transform: capitalize;
  color: var(--accent-color);
}
.slider-reviews__text {
  font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
  line-height: 1.57;
  text-transform: capitalize;
}
.slider-reviews__info {
  margin-top: 40px;
}
.slider-reviews__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.26;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.slider-reviews__button {
  display: flex;
  gap: 70px;
  width: 115px;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.slider-reviews__button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background-color: #353F49;
  width: 1px;
}

.slider-reviews-btn.swiper-button-disabled svg {
  fill: #767F89;
}
.slider-reviews-btn svg {
  fill: #fff;
}

.slider-reviews-prev {
  transform: rotate(180deg);
}

/*-----------------------/REVIEWS------------------------------*/
/*-----------------------GALARY------------------------------*/
.galary {
  background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
}
.galary__container {
  display: flex;
  align-items: center;
  gap: 63px;
}
@media (max-width: 992px) {
  .galary__container {
    flex-direction: column;
  }
}
.galary__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 50.7042253521%;
}
@media (max-width: 992px) {
  .galary__box {
    width: 100%;
  }
}
.galary__item {
  aspect-ratio: 7/11;
  flex: 0 0 47%;
}
.galary__item .swiper-wrapper {
  position: relative;
}
.galary__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 475px) {
  .galary__info {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .galary__title {
    max-width: 480px;
  }
}
.galary__text {
  margin-top: 22px;
}
.galary__link {
  display: inline-block;
  margin-top: 45px;
  padding: 22px 42px;
  color: #fff;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .galary__link:hover {
    background-color: #0e524a;
  }
}

/*-----------------------/GALARY------------------------------*/
/*-----------------------BEGIN------------------------------*/
.begin {
  position: relative;
  padding: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem) 0;
}
.begin .begin-wave {
  position: absolute;
  bottom: -250px;
  left: 0;
  z-index: -1;
}
@media (max-width: 400px) {
  .begin .begin-wave {
    width: 300px;
  }
}
.begin .begin-rect {
  position: absolute;
  top: -77px;
  right: 0;
  z-index: 1;
}
@media (max-width: 400px) {
  .begin .begin-rect {
    width: 40px;
  }
}
.begin__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
}
@media (max-width: 768px) {
  .begin__container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
.begin__slogan {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  line-height: 1.26;
  text-transform: capitalize;
  z-index: 2;
}
.begin__content {
  flex: 0 0 50%;
}
.begin__link {
  margin-top: 50px;
  display: inline-block;
  margin-top: 45px;
  padding: 22px 42px;
  color: #fff;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .begin__link:hover {
    background-color: #0e524a;
  }
}

/*-----------------------/BEGIN------------------------------*/
/*-----------------------FOOTER------------------------------*/
.footer {
  background-color: #1A242F;
  padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);
}
.footer .main__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: clamp(1.875rem, -14.494rem + 26.19vw, 8.75rem);
  padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
}
@media (max-width: 1352px) {
  .footer .main__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .footer .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1352px) {
  .footer__block:not(:first-child) {
    grid-column: auto;
    grid-row: 2/3;
  }
  .footer__block:first-child {
    grid-column: 1/5;
  }
}
.footer__text {
  margin: 22px 0 32px;
}
@media (min-width: 1352px) {
  .footer__text {
    width: 340px;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 600px) {
  .footer__socials {
    justify-content: center;
  }
}
.footer__social svg {
  fill: #555E68;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .footer__social svg:hover {
    fill: #fff;
  }
}
.footer .copyright__container {
  border-top: 1px solid #303A44;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .footer .copyright__container {
    flex-direction: column;
    gap: 50px;
  }
  .footer .copyright__container span {
    text-align: center;
    line-height: 1.3;
  }
}

.links-footer__header {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-bottom: 11px;
}
.links-footer__link {
  white-space: nowrap;
  transition: color 0.2s ease;
}
@media (any-hover: hover) {
  .links-footer__link:hover {
    color: #fff;
  }
}

/*-----------------------/FOOTER------------------------------*/