.customers {
	&+* {
		margin-top: clamp(1.875rem, -2.473rem + 21.74vw, 14.375rem);
	}

	&__container {}

	&__row {
		display: flex;
		gap: 68px;

		@media(max-width: 992px) {
			flex-direction: column;
		}
	}

	&__image-block {
		flex: 1 0 40%;
		position: relative;

		@media(max-width: 992px) {
			flex: 1 1 500px;
		}

		@media(max-width: 500px) {
			flex: 1 1 300px;
		}

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 60px;
		}
	}

	&__slider-block {
		min-width: 0;
		padding: 15px 0;
	}

	&__slider {}
}

.slider-customers {
	&__wrapper {}

	&__slide {}

	&__title {
		&+* {
			margin-top: 35px;
		}

		@media(max-width: 500px) {
			font-size: 35px;
		}
	}

	&__customer {
		display: flex;
		align-items: center;
		gap: 33px;

		&+* {
			margin-top: 60px;
		}

		@media(max-width: 500px) {
			&+* {
				margin-top: 30px;
			}
		}
	}

	&__img {
		position: relative;
		width: 134px;
		height: 134px;

		& img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 71.5px;
		}
	}

	&__data {}

	&__name {
		font-weight: 500;
		font-size: 33px;
		line-height: 1.5;
		color: var(--text-color);

		&+* {
			margin-top: 10px;
		}

		@media(max-width: 500px) {
			font-size: 25px;
		}
	}

	&__country {
		@include simpleText(25px, 400);

		@media(max-width: 500px) {
			font-size: 20px;
		}
	}

	&__text {
		@include simpleText(22px, 500);

		&+* {
			margin-top: 30px;
		}

		@media(max-width: 500px) {
			font-size: 18px;
		}
	}

	&__reting {
		display: inline-flex;
		flex-direction: row-reverse;
		gap: 8px;

		&[data-reting-value="1"] .slider-customers__item:nth-child(n + 5) svg,
		&[data-reting-value="2"] .slider-customers__item:nth-child(n + 4) svg,
		&[data-reting-value="3"] .slider-customers__item:nth-child(n + 3) svg,
		&[data-reting-value="4"] .slider-customers__item:nth-child(n + 2) svg,
		&[data-reting-value="5"] .slider-customers__item:nth-child(n + 1) svg {
			fill: #FFD336;
		}
	}

	&__item {
		& svg {
			fill: #C4C4C4;
			transition: all 0.3s ease;
		}

		&._active svg {
			fill: #FFD336;
		}
	}

	&__pagination {}
}

//fill="#FFD336"