.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 44px;
	z-index: 50;

	&__container {}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: inline-block;
		z-index: 5;
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: clamp(5rem, -35rem + 64.52vw, 15rem);

		@media(max-width: 992px) {
			flex-direction: column;
			z-index: 3;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			padding: 120px 90px 30px;
			background: var(--home-bg-color);
			transition: left 0.3s ease;
			overflow: auto;

			&._active {
				left: 0;
			}
		}
	}

	&__list {
		display: flex;
		gap: 80px;
		align-items: center;

		@media(max-width: 992px) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__link {
		font-size: 15px;
		color: #FFFFFF;

		@media(any-hover: hover) {
			&::after {
				content: '';
				height: 4px;
				width: 0%;
				display: block;
				top: -3px;
				background: #C4C4C4;
				transition: all 0.3s ease;
				border-radius: 100px;
			}

			&:hover::after {
				width: 100%;
			}
		}

		@media(max-width: 992px) {
			font-size: 25px;
		}
	}

	&__buttons {
		display: flex;
		gap: 25px;
		align-items: center;
		z-index: 5;
		font-size: 15px;

		@media(max-width: 992px) {
			flex-direction: column;
			font-size: 25px;
		}
	}

	&__sing-up {
		font-size: inherit;
		color: #FFFFFF;
	}

	&__login {
		position: relative;
		font-size: inherit;
		color: #FFFFFF;
		background: var(--accent-color);
		padding: 13px 43px;
		border-radius: 100px;
		overflow: hidden;

		@media(any-hover: hover) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: rgba($color: #000000, $alpha: 0.2);
				width: 100%;
				height: 100%;
				transition: all 0.3s linear;
				opacity: 0;
			}

			&:hover::before {
				opacity: 1;
			}
		}
	}

	&__burger {
		display: none;

		@media(max-width: 992px) {
			display: block;
			width: 30px;
			height: 18px;
			position: relative;
			z-index: 5;

			& span {
				position: absolute;
				height: 2px;
				left: 0;
				right: 0;
				background: var(--accent-color);
				transition: all 0.3s ease;

				&:first-child {
					top: 0;
				}

				&:nth-child(2) {
					top: 50%;
					transform: translateY(-50%);
				}

				&:last-child {
					bottom: 0;
				}
			}

			&._active span {
				&:first-child {
					top: 50%;
					transform: translateY(-50%) rotate(45deg);
				}

				&:nth-child(2) {
					transform: translateY(-50%) scale(0);
				}

				&:last-child {
					bottom: 50%;
					transform: translateY(50%) rotate(-45deg);
				}
			}
		}
	}
}

.header-2 {
	position: relative;
	top: auto;
	left: auto;
	padding-top: 0;
	z-index: 50;

	& .header__link,
	& .header__sing-up {
		color: #0F1F1C;
		opacity: 0.5;
	}
}

body._lock {

	& .header__link,
	& .header__sing-up {
		color: #fff;
		opacity: 1;
	}
}