.subscribe {
	&+* {
		margin-top: clamp(2.5rem, 0.848rem + 8.26vw, 7.25rem);
	}

	&__container {}

	&__title {
		margin: 0 auto;
		max-width: 494px;
		text-align: center;

		&+* {
			margin-top: clamp(1.875rem, 1.223rem + 3.26vw, 3.75rem);
		}

		@media(max-width: 768px) {
			font-size: 40px;
		}

		@media(max-width: 400px) {
			font-size: 35px;
		}
	}

	&__send-block {
		margin-left: auto;
		margin-right: auto;
		padding: 12px 15px 12px 42px;
		background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
		border-radius: 35px;
		max-width: 800px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		@media(max-width: 768px) {
			flex-direction: column;
			padding: 30px 20px;
			gap: 50px;
		}
	}

	&__input {
		@include simpleText(24px, 500);
		opacity: 1;

		&::placeholder {
			opacity: 0.5;
			text-align: center;
		}


		@media(max-width: 768px) {
			font-size: 20px;
			padding: 10px;
			border-bottom: 1px solid rgba($color: $cl, $alpha: 0.5);
		}

		@media(max-width: 400px) {
			max-width: 280px;
		}
	}

	&__button {
		padding: 34px 87px;

		@media(max-width: 768px) {
			padding: 30px 60px;
		}
	}
}