@charset "UTF-8";
/*Обнуление*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside,
main,
section {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
   font-family: inherit;
   font-size: inherit;
}

input::-ms-clear {
   display: none;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

button,
input[type='submit'] {
   display: inline-block;
   box-shadow: none;
   background-color: transparent;
   background: none;
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

label {
   cursor: pointer;
}

legend {
   display: block;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul {
   list-style: none;
}

img,
svg,
video {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   line-height: inherit;
   font-size: inherit;
   font-weight: inherit;
}

p + p {
   margin-top: 1em;
}

/*--------------------*/
body {
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   min-height: 100%;
   position: relative;
}
body._lock {
   overflow: hidden;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 auto;
   position: relative;
}

.__container {
   max-width: 1000px;
   padding: 0 10px;
   margin: 0 auto;
}

.green-btn {
   padding: 15px 20px;
   background: #a5d364;
   border-radius: 110px;
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: #ffffff;
}

.header + * {
   margin-top: 40px;
}
.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   padding: 43px 0;
   border-bottom: 1px solid #f4f4f4;
}
.header__logo-block {
   display: flex;
   align-items: center;
   gap: 16px;
}
@media (max-width: 550px) {
   .header__logo-block {
      flex-direction: column;
      align-items: start;
   }
}
.header__big-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   text-transform: uppercase;
   color: #000000;
}
.header__min-title {
   font-size: 14px;
   line-height: 17px;
   color: #9d9d9d;
}
.header__action-block {
   display: flex;
   gap: 30px;
   align-items: center;
   flex-wrap: wrap;
}
.header__cart-block {
   display: flex;
   gap: 10px;
   align-items: center;
}
.intro__block {
   display: flex;
   justify-content: space-between;
   background-color: #f4efe9;
   border-radius: 20px;
}
@media (max-width: 800px) {
   .intro__block {
      flex-direction: column;
   }
}
.intro__info {
   padding: 16px 20px 16px 20px;
}
.intro__brend {
   margin-bottom: 32px;
}
.intro__title {
   font-weight: 700;
   font-size: 38px;
   line-height: 46px;
   color: #8bb43c;
   margin-bottom: 10px;
   margin-left: 40px;
}
.intro__title span {
   color: #000000;
}
.intro__btn {
   margin-left: 40px;
   min-width: 177px;
   font-weight: 700;
}
.intro__img {
   position: relative;
}
.intro__img img {
   padding: auto;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

.cotolog__header-all-products {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding: 39px 0px 30px;
   flex-wrap: wrap;
}
.cotolog__title {
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
}
.cotolog__search {
   position: relative;
}
.cotolog__search svg {
   position: absolute;
   top: 50%;
   left: 5%;
   transform: translateY(-50%);
}
.cotolog__search input {
   font-size: 14px;
   line-height: 17px;
   color: #c4c4c4;
   border: 1px solid #f3f3f3;
   border-radius: 10px;
   padding: 15px 45px;
}
.cotolog__products {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: 260px;
   gap: 40px;
}
@media (max-width: 1000px) {
   .cotolog__products {
      grid-template-columns: repeat(3, 1fr);
   }
}
@media (max-width: 750px) {
   .cotolog__products {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (max-width: 500px) {
   .cotolog__products {
      grid-template-columns: repeat(1, 1fr);
   }
}
.product-item {
   position: relative;
   padding: 30px;
   background: #ffffff;
   border: 1px solid #f3f3f3;
   border-radius: 40px;
}
.product-item__liked {
   position: absolute;
   z-index: 2;
   cursor: pointer;
}
.product-item__img {
   text-align: center;
   position: relative;
   width: 133px;
   height: 112px;
}
.product-item__img + * {
   margin-top: 14px;
}
.product-item__img img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}
.product-item__title {
   font-size: 14px;
   line-height: 17px;
}
.product-item__title + * {
   margin-top: 14px;
}
.product-item__product-state {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
.product-item__cost span {
   font-weight: 500;
   font-size: 11px;
   line-height: 13px;
   text-transform: uppercase;
   color: #bdbdbd;
}
.product-item__price {
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}
.product-item__purchased {
   cursor: pointer;
}

.other-info-cart {
   max-width: 290px;
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
}
.other-info-cart__img {
   position: relative;
   width: 120px;
   height: 120px;
}
.other-info-cart__img img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: scale-down;
   object-fit: scale-down;
}
.other-info-cart__img + * {
   margin-top: 20px;
}
.other-info-cart__title {
   text-align: center;
   font-weight: 600;
   font-size: 22px;
   line-height: 27px;
}
.other-info-cart__title + * {
   margin-top: 10px;
}
.other-info-cart__text {
   text-align: center;
   opacity: 0.4;
}
.other-info-cart__text + * {
   margin-top: 40px;
}
.card-cart {
   display: flex;
   gap: 16px;
   background: #ffffff;
   border: 1px solid #f3f3f3;
   border-radius: 20px;
   padding: 20px;
}
.card-cart + * {
   margin-top: 20px;
}
@media (max-width: 400px) {
   .card-cart {
      flex-direction: column;
   }
}
.card-cart__img {
   position: relative;
   flex: 0 0 150px;
}
.card-cart__img img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}
@media (min-width: 400px) {
   .card-cart__img {
      flex: 0 0 70px;
   }
}
.card-cart__title {
   font-size: 14px;
   line-height: 17px;
}
.card-cart__price {
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}
.cart {
   display: flex;
   flex-direction: column;
   width: 400px;
   min-height: 100%;
   background-color: #fff;
   position: fixed;
   top: 0;
   bottom: 0;
   right: -100%;
   padding: 30px;
   z-index: 10;
   transition: right 0.3s ease;
   overflow: auto;
}
@media (max-width: 400px) {
   .cart {
      width: 280px;
      padding: 15px;
   }
}
.cart._active {
   right: 0;
}
.cart__mask {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 5;
}
.cart__mask._active {
   display: block;
}
.cart__title {
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
}
.cart__title + * {
   margin-top: 30px;
}
.cart__cart-catalog {
   flex: 1 1 auto;
}
.cart__info {
   display: flex;
   flex-direction: column;
}
.cart__info-place {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
.cart__info-place + * {
   margin-top: 20px;
}
.cart__info-total {
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
}
.cart__info-name {
   font-size: 16px;
   line-height: 19px;
}
.cart__checkout-btn {
   max-width: 320px;
}
.person-store__header {
   display: flex;
   gap: 20px;
   align-items: center;
}
.person-store__header + * {
   margin-top: 40px;
}
.person-store__title {
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
}

.empty-page {
   height: 60vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.empty-page__smilic + * {
   margin-top: 24px;
}
.empty-page__title {
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
}
.empty-page__title + * {
   margin-top: 11px;
}
.empty-page__text {
   opacity: 0.4;
}
.empty-page__text + * {
   margin-top: 70px;
}

.empty-page__btn {
   display: block;
}
