.cotolog {
   &__container {
   }
   &__header-all-products {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 39px 0px 30px;
      flex-wrap: wrap;
   }
   &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
   }
   &__search {
      position: relative;

      & svg {
         position: absolute;
         top: 50%;
         left: 5%;
         transform: translateY(-50%);
      }

      & input {
         font-size: 14px;
         line-height: 17px;

         color: #c4c4c4;

         border: 1px solid #f3f3f3;
         border-radius: 10px;

         padding: 15px 45px;
      }
   }
   &__products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 260px;
      gap: 40px;

      @media (max-width: 1000px) {
         grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 750px) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 500px) {
         grid-template-columns: repeat(1, 1fr);
      }
   }
   &__product-item {
   }
}

.product-item {
   position: relative;
   padding: 30px;

   background: #ffffff;
   border: 1px solid #f3f3f3;
   border-radius: 40px;

   &__liked {
      position: absolute;
      z-index: 2;
      cursor: pointer;
   }
   &__img {
      text-align: center;
      position: relative;
      width: 133px;
      height: 112px;

      & + * {
         margin-top: 14px;
      }

      & img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title {
      font-size: 14px;
      line-height: 17px;

      & + * {
         margin-top: 14px;
      }
   }
   &__product-state {
      display: flex;
      justify-content: space-between;
      gap: 10px;
   }
   &__cost {
      & span {
         font-weight: 500;
         font-size: 11px;
         line-height: 13px;
         text-transform: uppercase;

         color: #bdbdbd;
      }
   }
   &__price {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
   }
   &__purchased {
      cursor: pointer;
   }
}
