.empty-page {
   height: 60vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   &__container {
   }
   &__block {
   }
   &__smilic {
      & + * {
         margin-top: 24px;
      }
   }
   &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      & + * {
         margin-top: 11px;
      }
   }
   &__text {
      opacity: 0.4;
      & + * {
         margin-top: 70px;
      }
   }
   &__btn {
   }
}
