.header {
   & + * {
      margin-top: 40px;
   }
   &__container {
   }
   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 43px 0;
      border-bottom: 1px solid #f4f4f4;
   }
   &__logo-block {
      display: flex;
      align-items: center;
      gap: 16px;

      @media (max-width: 550px) {
         flex-direction: column;
         align-items: start;
      }
   }
   &__logo {
   }
   &__titles {
   }
   &__big-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;

      color: #000000;
   }
   &__min-title {
      font-size: 14px;
      line-height: 17px;

      color: #9d9d9d;
   }
   &__action-block {
      display: flex;
      gap: 30px;
      align-items: center;
      flex-wrap: wrap;
      // @media (max-width: 550px) {
      //    flex-direction: column;
      // }
   }
   &__cart-block {
      display: flex;
      gap: 10px;
      align-items: center;
   }
   &__cart-btn {
   }
   &__price {
   }
   &__liked-btn {
   }
   &__person-btn {
   }
}
