.intro {
   &__container {
   }
   &__block {
      display: flex;
      justify-content: space-between;
      background-color: #f4efe9;
      border-radius: 20px;

      @media (max-width: 800px) {
         flex-direction: column;
      }
   }
   &__info {
      padding: 16px 20px 16px 20px;
      //flex: 0 0 33.333%;
   }
   &__brend {
      margin-bottom: 32px;
   }
   &__title {
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;

      color: #8bb43c;
      margin-bottom: 10px;
      margin-left: 40px;

      & span {
         color: #000000;
      }
   }
   &__btn {
      margin-left: 40px;
      min-width: 177px;
      font-weight: 700;
   }
   &__img {
      //flex: 66.666%;
      position: relative;
      & img {
         padding: auto;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
