.person-store {
   &__container {
   }
   &__header {
      display: flex;
      gap: 20px;
      align-items: center;

      & + * {
         margin-top: 40px;
      }
   }
   &__exit {
   }
   &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
   }
}
