.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&__container {
		max-width: 1730px;
		//padding: 0 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__top {
		position: relative;
		width: 100%;
		background-color: $backColor;
		font-size: rem(18);
		padding: 20px 0;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $backColor;
			z-index: 5;
		}
	}

	&__contacts {
		& *+* {
			margin-left: 24px;
		}

		z-index: 6;
	}

	&__email {
		color: $mainColor;

		&::before {
			margin-right: 10px;
		}

		@media(max-width: 767px) {
			& span {
				display: none;
			}
		}
	}

	&__tel {
		color: $mainColor;

		&::before {
			margin-right: 10px;
		}

		@media(max-width: 767px) {
			& span {
				display: none;
			}
		}
	}

	&__messagers {
		& a+a {
			@include adaptivValue("margin-left", 47, 15, 1);
		}

		z-index: 6;
	}

	&__messenger {
		color: $mainColor;
	}

	&__down {
		width: 100%;
		padding: 30px 0;

	}

	&__logo {}

	&__menu {}
}

//===============================================================
.menu {
	font-weight: 700;
	font-size: rem(17);

	&__list {
		display: flex;
		@include adaptivValue("gap", 50, 20, 3, 1730, 320);

		@media(max-width: 767px) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			background: rgba($color: $mainColor2, $alpha: 0.9);
			transition: left 0.3s ease;
			padding: 100px 50px;
			z-index: 2;

			&._active {
				left: 0;
			}
		}
	}

	&__link {
		color: $mainColor;
		padding: 2px 3px;
		transition: all 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				background-color: $blueColor;
				border-radius: 5px;

			}
		}

		@media(max-width: 767px) {
			font-size: 25px;
		}
	}

	&__burger {
		display: none;

		@media(max-width: 767px) {
			display: block;
			width: 16px;
			height: 14px;
			position: relative;
			z-index: 5;

			& span {
				position: absolute;
				right: 0;
				width: 100%;
				height: 2px;
				background-color: $mainColor;
				border-radius: 15px;
				transition: all 0.3s ease;

				&:first-child {
					top: 0;

					&._active {
						top: 50%;
						transform: translateY(-50%) rotate(45deg);
					}
				}

				&:nth-child(2) {
					width: 63%;
					top: 50%;
					transform: translateY(-50%);

					&._active {
						width: 0;
					}
				}

				&:last-child {
					bottom: 0;

					&._active {
						bottom: 50%;
						transform: translateY(50%) rotate(-45deg);
					}
				}
			}

			&._active span {
				&:first-child {
					top: 50%;
					transform: translateY(-50%) rotate(45deg);
				}

				&:nth-child(2) {
					width: 0;
				}

				&:last-child {
					bottom: 50%;
					transform: translateY(50%) rotate(-45deg);
				}
			}
		}
	}
}