//IMPORT=====================================
@import 'nullstyle.scss';

//font-family: 'Cookie', cursive;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Tinos', serif;
//MODELS===============================================
%model-orange-btn {
	background: #FF7400;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.4;
	padding: 14px 20px;
	transition: all 0.3s ease;

	&:hover,
	&:focus,
	&:active {
		background: #c75a00;
	}
}

%model-orange-title {
	font-size: 50px;
	line-height: 1.14;
	color: #D67E35;
}

//========================================
body {
	font-family: 'Tinos', serif;
	font-weight: 400;
	font-size: 26px;
	color: #656363;
	line-height: 1.15;

	&._lock {
		overflow: hidden;
	}
}

//HEADER=======================================
.header {
	background-color: rgba(0, 0, 0, 0.219);
	display: grid;
	grid-template: 1fr/ 1fr minmax(auto, 368px) minmax(auto, 762px) 1fr;
	align-items: center;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;
	padding-top: 50px;

	&__logo {
		grid-column: 2/3;
	}

	&__burger {
		display: none;
	}

	&__block {
		grid-column: 3/4;
		display: grid;
		grid-template-columns: 1.4fr 55px 1fr minmax(157px, 1fr);
		align-items: center;

	}

	&__menu {}

	&__list {
		display: grid;
		grid-auto-flow: column;
		column-gap: 20px;
	}

	&__link {
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		transition: all 0.3s ease;

		&:hover,
		&:focus,
		&:active {
			opacity: 0.7;
		}
	}

	&__cart {
		margin-left: 15px;
		border-right: 1px solid #fff;
		min-height: 50px;
		display: grid;
		align-items: center;
		transition: all 0.3s ease;

		&:hover,
		&:focus,
		&:active {
			opacity: 0.7;
		}
	}

	&__order {
		display: grid;
		grid-template: 1fr 1fr/ 23px 1fr;
		column-gap: 8px;
		padding-left: 31px;
	}

	&__phone {
		grid-row: 1/2;
		grid-column: 1/2;
		transition: all 0.3s ease;

		&:hover,
		&:focus,
		&:active {
			opacity: 0.7;
		}
	}

	&__number {
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		grid-row: 1/2;
		grid-column: 2/3;
		transition: all 0.3s ease;

		&:hover,
		&:focus,
		&:active {
			opacity: 0.7;
		}
	}

	&__text {
		color: #fff;
		font-weight: 400;
		grid-row: 2/3;
		grid-column: 1/3;
		max-width: 154px;
		transition: all 0.3s ease;

		&:hover,
		&:focus,
		&:active {
			opacity: 0.7;
		}
	}

	&__button {}

	&__btn {
		@extend %model-orange-btn
	}

	@media(max-width: 992px) {
		&__burger {
			justify-self: end;
			margin-right: 15px;
			display: block;
			width: 30px;
			height: 18px;
			position: relative;
			z-index: 5;
			cursor: pointer;

			&::before,
			&::after,
			& span {
				height: 10%;
				width: 100%;
				position: absolute;
				left: 0;
				background-color: #FF7400;
				transition: all 0.3s ease;
			}

			&::before,
			&::after {
				content: '';
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}

			& span {
				top: 50%;
				transform: scale(1) translate(0, -50%);
			}

			&._active {
				&::before {
					top: 50%;
					transform: translate(0, -50%) rotate(45deg);
				}

				&::after {
					bottom: 50%;
					transform: translate(0, 50%) rotate(-45deg);
				}

				& span {
					top: 50%;
					transform: scale(0) translate(0, -50%);
				}
			}
		}

		&__block {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 100px 30px 30px 30px;
			background-color: rgba($color: #000000, $alpha: 0.9);
			transition: all 0.3s ease;
			overflow: auto;
		}

		&__list {
			display: block;

			& li {
				margin: 0 0 15px 0;
			}
		}

		&__link {
			font-size: 20px;
		}

		&__cart {
			border: 0;
			margin-bottom: 15px;
			height: 20px;
			width: 20px;
		}

		&__order {
			padding: 0;
			margin-bottom: 30px;
		}

		&__block._active {
			left: 0;
		}

		&__logo {
			position: relative;
			height: 30px;
			width: 40px;
			margin-left: 20px;

			& img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

//INNER=================================
.intro {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: grid;
	grid-template: 1fr 1fr 1fr/ 1fr minmax(auto, 556px) minmax(auto, 574px) 1fr;

	&__block {
		grid-row: 2/3;
		grid-column: 2/3;
		display: grid;
		justify-items: center;
	}

	&__sup-title {
		@extend %model-orange-title;
		align-self: end;
	}

	&__title {
		@extend %model-orange-title;
		font-size: 80px;

	}

	&__sub-title {
		font-family: 'Open Sans';
		font-size: 18px;
		line-height: 1.4;
		color: #FFFFFF;
		position: relative;
		padding: 0 70px;
		align-self: start;
		margin: 15px 0;

		&::before,
		&::after {
			content: '';
			width: 61px;
			height: 2px;
			background-color: #fff;
			position: absolute;
			top: 10px;
		}

		&::after {
			right: 0;
		}

		&::before {
			left: 0;
		}
	}

	&__btn a {
		@extend %model-orange-btn;
	}

	@media(max-width: 992px) {
		grid-template: 1fr 1fr 1fr/ 1fr minmax(auto, 992px) 1fr;

		&__sup-title {
			font-size: 30px;
		}

		&__title {
			font-size: 40px;
		}
	}
}

//BENEFITS===================================
.benefits {
	margin-top: -90px;
	margin-bottom: 160px;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1130px) 1fr;

	&__block {
		grid-column: 2/3;
		display: grid;
		grid-template-columns: repeat(auto-fit, 350px);
		gap: 30px;
		justify-self: center;
	}

	&__body {
		padding: 40px;
		background: #FFFFFF;
		box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
	}

	&__icon {
		text-align: center;
		margin-bottom: 8px;
	}

	&__title {
		text-align: center;
		color: #2C2C2C;
		margin-bottom: 20px;
	}

	&__title span {
		color: #BC9060;
	}

	&__text {
		text-align: center;
	}
}

//HISTORY============================================
.history {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1100px)1fr;
	row-gap: 140px;
	justify-items: center;
	margin-bottom: 120px;
	padding: 0 50px;

	@media (min-width: 1240px) {
		grid-template-columns: 1fr minmax(auto, 450px) minmax(auto, 540px) 1fr;
		column-gap: 140px;
		align-items: center;
		padding: 0;
	}

	@media (max-width: 676px) {
		padding: 0 15px;
	}

	&__body {
		grid-column: 2/3;
		display: grid;
		align-items: center;
	}

	&__tilte {
		font-size: 54px;
		line-height: 1.15;
		color: #000000;
		text-align: center;
	}

	&__tilte span {
		color: #BC9060;
	}

	&__text {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		margin-bottom: 50px;
	}

	&__statistics {
		display: grid;
		grid-auto-flow: column;

		@media(max-width: 565px) {
			grid-auto-flow: row;
			row-gap: 20px;
		}
	}

	&__column-stat {
		display: grid;
		justify-items: center;
	}

	&__numbers {
		font-family: 'Open Sans';
		font-size: 40px;
		line-height: 1.35;
		text-align: center;
		color: #BC9060;
	}

	&__subject {
		font-family: 'Open Sans';
		font-size: 20px;
		line-height: 1.35;
		text-align: center;

		color: #000000;
	}

	&__images {
		grid-column: 2/3;
		display: grid;
		grid-template: repeat(25, 20px) / repeat(27, 20px);

		@media (min-width: 1240px) {
			grid-column: 3/4;
		}

		@media (max-width: 676px) {
			grid-template: repeat(25, 15px) / repeat(27, 15px);
		}
	}

	&__photo {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__photo img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.photo-1 {
	position: relative;
	z-index: 5;
	grid-row: 4/20;
	grid-column: 1/13;
}

.photo-2 {
	position: relative;
	z-index: 3;
	grid-column: 11/23;
	grid-row: 1/22;
}

.photo-3 {
	position: relative;
	z-index: 5;
	grid-row: 11/26;
	grid-column: 16/28;
}

.photo-4 {
	position: relative;
	z-index: 1;
	grid-column: 15/25;
	grid-row: 3/14;
}

//TEMPORARY========================================
.temporary {
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 610px) minmax(auto, 520px) 1fr;
	align-items: center;
	min-height: 357px;
	padding: 80px 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 120px;
	padding: 0 10px;

	@media(max-width: 767px) {
		grid-template: auto / 1fr minmax(auto, 767px) 1fr;
		padding: 0 20px;
		min-height: 250px;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1;
	}

	&__body {
		grid-column: 2/3;
		position: relative;
		z-index: 4;
		display: grid;
		row-gap: 20px;

	}

	&__title {
		@extend %model-orange-title;
		font-size: 52px;

		@media(max-width: 767px) {
			font-size: 30px;
		}
	}

	&__sub-title {
		font-family: 'Open Sans';
		font-weight: 700;
		font-size: 24px;
		line-height: 1.33;
		color: #FFFFFF;
	}

	&__button {
		grid-column: 3/4;
		justify-self: end;
		position: relative;
		z-index: 4;

		& a {
			@extend %model-orange-btn;
		}

		@media(max-width: 767px) {
			grid-column: 2/3;
			justify-self: center;
		}
	}
}

//DISHES=============================================================
.dishes {
	margin-bottom: 150px;

	&__title {
		margin-bottom: 140px;
		font-size: 54px;
		line-height: 1.15;
		color: #000000;
		text-align: center;
	}

	&__title span {
		color: #D67E34;
	}

	&__menu {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 450px) minmax(auto, 580px) 1fr;
		column-gap: 30px;

		@media(max-width: 992px) {
			grid-template-columns: 1fr minmax(auto, 992px) 1fr;
		}
	}

	&__image {
		grid-column: 2/3;
		position: relative;
		width: 100%;
		height: 100%;

		@media(max-width: 992px) {
			height: 478px;
			margin-bottom: 50px;
		}
	}

	&__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__items {
		grid-column: 3/4;
		display: grid;
		row-gap: 30px;

		@media(max-width: 992px) {
			grid-column: 2/3;
		}
	}

	&__item {
		display: grid;
		grid-template-columns: 160px 1fr;
		column-gap: 30px;
		align-items: center;
	}

	&__burger {
		position: relative;
		height: 140px;
	}

	&__burger img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__description {
		display: grid;
		grid-template-columns: 1fr 70px;
	}

	&__name {
		line-height: 1.15;
		color: #000000;
	}

	&__price {
		line-height: 1.15;
		color: #000000;
	}
}

//MENU===============================================

.menu {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0 230px;
	display: grid;

	grid-template-columns: 1fr minmax(auto, 1130px) 1fr;

	&__title {
		font-size: 54px;
		line-height: 1.15;
		color: #FFFFFF;
		text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
		text-align: center;
		margin-bottom: 140px;
		grid-column: 2/3;
	}

	&__cards {
		grid-column: 2/3;
		display: grid;
		grid-template-columns: repeat(auto-fit, 350px);
		gap: 30px;
	}

	&__card {
		display: grid;
		justify-items: center;
		background-color: #fff;
		padding: 80px 60px 30px;
		position: relative;
	}

	&__recommend {
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px;
		font-family: 'Open Sans';
		font-size: 13px;
		line-height: 18px;
		text-align: center;
		color: #000000;
		background: #D67E34;
		display: none;
	}

	&__image {
		position: relative;
		width: 225px;
		height: 225px;
		margin-bottom: 22px;

		&::before {
			content: '';
			width: 100px;
			height: 100px;
			border-radius: 50%;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 5;
			background-color: #fff;
		}

		&::after {
			content: '';
			width: 90px;
			height: 90px;
			border-radius: 50%;
			position: absolute;
			bottom: 5px;
			right: 5px;
			z-index: 6;
			background-color: #D67E34;
		}
	}

	&__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
		z-index: 1;
	}

	&__price {
		font-family: 'Cookie';
		font-size: 30px;
		line-height: 1.1;
		color: #FFFFFF;
		position: absolute;
		bottom: 30px;
		right: 30px;
		z-index: 10;
	}

	&__name {
		color: #000000;
		margin-bottom: 17px;
	}

	&__text {
		font-family: 'Open Sans';
		font-size: 16px;
		line-height: 1.4;
		text-align: center;
		color: #000000;
		margin-bottom: 20px;
	}

	&__button {}

	&__button a {
		@extend %model-orange-btn;
		padding: 14px 65px;
	}
}

.recommend-active {
	display: block;
}

//COMMENT================================================
.comment {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 920px) 1fr;
	padding: 100px 0;
	background: #E6E5E5;

	&__block {
		grid-column: 2/3;
		display: grid;
		justify-items: center;
		color: #000000;
		font-family: 'Open Sans';
	}

	&__slide {
		display: none;
		justify-items: center;
		transition: all 0.3s;

		&.active {
			display: grid;
		}
	}

	&__dots {
		grid-column: 2/3;
		justify-self: center;
		display: grid;
		grid-auto-flow: column;
		gap: 3px;
		align-items: center;
		min-height: 10px;
	}

	&__dot {
		height: 5px;
		width: 5px;
		background: #C4C4C4;
		border-radius: 50%;
		position: relative;
		z-index: 3;
		cursor: pointer;
		transition: all 0.3s;


		/*	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: '';
		height: 5px;
		width: 5px;
		background: #E6E5E5;
		border-radius: 50%;
		z-index: 2;
	}*/

		&.active {
			height: 8px;
			width: 8px;
			background: #FF7400;
			position: relative;
			z-index: 1;
		}
	}

	&__text {
		font-style: italic;
		font-size: 20px;
		line-height: 1.35;
		text-align: center;
		margin-bottom: 20px;
	}

	&__photo {
		position: relative;
		height: 100px;
		width: 100px;
		margin-bottom: 16px;
	}

	&__photo img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}

	&__visitor {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.35;
		margin-bottom: 10px;
	}

	&__name {
		font-size: 20px;
		line-height: 1.35;
	}
}

//GALARY===========================================================
.galary {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1130px) 1fr;
	padding: 100px 0;

	&__title {
		grid-column: 2/3;
		font-size: 54px;
		line-height: 1.15;
		color: #000000;
		text-align: center;
		margin-bottom: 60px;

		& span {
			color: #D67E34;
		}
	}

	&__items {
		grid-column: 2/3;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 30px;
	}

	&__item {
		position: relative;
		padding: 0 0 50% 0;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&_big {
			grid-column: span 2;
		}
	}
}

//COOK==============================================
.cook {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1130px) 1fr;
	margin-bottom: 100px;

	&__title {
		grid-column: 2/3;
		font-size: 54px;
		line-height: 1.15;
		color: #000000;
		margin-bottom: 100px;
		text-align: center;

		& span {
			color: #D67E34;
		}
	}

	&__cooker {
		grid-column: 2/3;
		display: grid;
		grid-template-columns: repeat(auto-fit, 350px);
		gap: 30px;
	}

	&__photo {
		position: relative;
		padding: 0 0 140% 0;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//FINNALY-IMG=============================================
.finnaly-img {
	height: 100vh;
	width: 100%;
	position: relative;

	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}