@import "null-style.scss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

//VARIBLE
:root {
	--bg-color: #121B25;
	--accent-color: #15786C;
	--text-color: #D6D6D6;
}

//---------------------------------------------------------
body {
	font-family: 'Work Sans', sans-serif;
	background-color: var(--bg-color);
	position: relative;
	color: #fff;

	&._lock {
		overflow: hidden;
	}
}

[class*="__container"] {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 15px;
}

/*-----------------------GANARAL------------------------------*/

.text {
	font-size: 18px;
	line-height: 1.7;
	color: var(--text-color);
}

.title {
	font-weight: 600;
	font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
	line-height: 1.26;
	text-transform: capitalize;
}

/*-----------------------/GANARAL------------------------------*/
/*-----------------------HEADER------------------------------*/

.header {

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 15px;
	}

	&__logo {
		max-width: 200px;

		& img {
			max-width: 100%;
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
	}

	&__menu {}

	&__buttons {
		display: flex;
		gap: 5px;
	}

	&__btn {
		padding: 11px 20px;
		color: #fff;
		border: solid 2px var(--accent-color);
		background: transparent;
		transition: background .2s;
		cursor: pointer;

		@media(max-width: 576px) {
			padding: 7px 15px;
		}
	}
}

.menu {
	@media(max-width: 992px) {
		position: absolute;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 80%;
		background-color: var(--accent-color);
		display: flex;
		overflow: auto;
		padding: 20px 0;
		transition: left .2s;
		z-index: 6;

		&._active {
			left: 0;
		}
	}

	&__icon {
		display: none;

		@media(max-width: 992px) {
			display: block;
			height: 18px;
			width: 30px;
			position: relative;
			cursor: pointer;
			z-index: 5;

			& span {
				transition: all 0.3s ease;
				top: calc(50% - 1px);
				left: 0;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #fff;

				&:first-child {
					top: 0;
				}

				&:last-child {
					top: auto;
					bottom: 0;
				}
			}

			&._active {
				& span {
					transform: scale(0);

					&:first-child {
						transform: rotate(-45deg);
						top: calc(50% - 1px);
					}

					&:last-child {
						bottom: calc(50% - 1px);
						transform: rotate(45deg);
					}
				}
			}
		}
	}

	&__body {
		display: flex;
		align-items: center;
		gap: 40px;
		margin: auto;

		@media(max-width: 992px) {
			flex-direction: column;
		}
	}

	&__item {}

	&__link {
		font-weight: 500;
		font-size: 16px;
		text-transform: capitalize;
		color: var(--text-color);
		transition: color .2s;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			height: 3px;
			background-color: var(--accent-color);
			opacity: 0;
			visibility: hidden;
			transition: opacity .2s;
		}

		@media(any-hover: hover) {
			&:hover {
				color: #fff;

				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@media(max-width: 992px) {
			line-height: 50px;
			font-size: 30px;
		}
	}
}

.login {
	@media(any-hover: hover) {
		&:hover {
			background-color: var(--accent-color);
			;
		}
	}

	@media(max-width: 425px) {
		display: none;
	}
}

.register {
	background-color: var(--accent-color);

	@media(any-hover: hover) {
		&:hover {
			background-color: transparent;
		}
	}
}


/*-----------------------/HEADER------------------------------*/
/*-----------------------HERO------------------------------*/

.hero {
	margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
	position: relative;
	padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);

	&__deco {
		position: absolute;
		bottom: -150px;
		right: 0;
		z-index: -1;

		@media(max-width: 992px) {
			height: 300px;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media(max-width: 992px) {
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 0 calc(700px / 1420px * 100%);
		margin-bottom: 160px;

		@media(max-width: 992px) {
			margin-bottom: 30px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
		line-height: 1.26;
		text-transform: capitalize;
	}

	&__text {
		margin-top: 18px;
	}

	&__filter {
		height: 100px;
		width: 880px;
		background-color: #fff;
		margin-top: 60px;
		position: absolute;
		z-index: 3;

		@media(max-width: 992px) {
			position: static;
			width: 100%;
		}
	}

	&__img {
		flex: 0 0 calc(700px / 1420px * 100%);
		position: relative;
		padding: 0 45% 45% 0;

		@media(max-width: 992px) {
			padding: 0 75% 75% 0;
		}

		& img {
			max-width: 100%;
			max-height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

//FILTER======================================

.filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 165px;
	color: #000;

	@media(max-width: 576px) {
		grid-template-columns: repeat(3, 1fr);
		padding: 10px;
		height: auto;
	}

	@media(max-width: 475px) {
		grid-template-columns: 1fr;
		gap: 10px;
	}

	&__block {
		position: relative;

		&:nth-child(2) {
			border-right: 1px solid #E8E8E8;
			border-left: 1px solid #E8E8E8;
		}
	}

	&__btn {
		padding: 5px;

		& button {
			width: 100%;
			height: 100%;
			background-color: var(--accent-color);
			font-weight: 500;
			font-size: 24px;
			text-transform: capitalize;
			color: #fff;
			cursor: pointer;
			padding: 10px;

			&:active {
				background-color: #12655B;
			}
		}

		@media(max-width: 576px) and (min-width: 475px) {
			grid-column: 1/4;
		}
	}
}

.block-filter {
	&__button {
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		padding: 0 clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
		cursor: pointer;

	}

	&__header {
		display: flex;
		align-items: center;
	}

	&__type {
		padding-right: 2px;
		font-size: 16px;
		color: #858585;
	}

	&__icon {
		transition: all 0.2s;

		&._active {
			transform: rotate(180deg);
		}
	}

	&__value {
		font-weight: 600;
		font-size: 18px;
		line-height: 1.26;
		text-transform: capitalize;
		color: var(--bg-color);
	}

	&__dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #fff;
		border-radius: 5px;
		transition: all .2s;
		overflow: hidden;
		opacity: 0;
		visibility: none;
		pointer-events: none;
		z-index: 3;
		box-shadow: 0 0 1px 1px #000;

		&._active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(5px);
		}
	}

	&__item {
		padding: 10px;
		transition: background .2s;
		text-transform: capitalize;
		cursor: pointer;

		@media(any-hover: hover) {
			&:hover {
				background-color: #adadad;
			}
		}
	}
}


/*-----------------------/HERO------------------------------*/
/*-----------------------FEATURED------------------------------*/

.featured {
	padding-top: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
	padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);

	&__container {}

	&__title {}

	&__box {
		margin-top: 55px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		overflow: auto;
	}

	&__item {
		flex: 0 0 auto;
	}

	&__img {}
}

/*-----------------------/FEATURED------------------------------*/
/*-----------------------POPULAR------------------------------*/

.popular {
	background: #1a242f url('../../img/slider-bg/bg-slider.png');
	padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;

	&__container {}

	&__title {
		margin-bottom: 40px;
	}

	&__slider {
		position: relative;
	}

	&__link {
		text-align: center;
		margin-top: 65px;

		& a {
			display: inline-block;
			padding: 22px 42px;
			font-weight: 500;
			font-size: 24px;
			text-transform: capitalize;
			margin: 0 auto;
			color: #fff;
			background-color: var(--accent-color);
			transition: all .2s ease;

			@media(any-hover: hover) {
				&:hover {
					background-color: #0f6157;
				}
			}
		}
	}
}

.popular-slide {
	display: flex;
	flex-direction: column;
	gap: 27px;

	@media(max-width: 640px) {
		text-align: center;
	}

	&__thumb {
		& img {
			max-width: 100%;
		}
	}

	&__text {}

	&__title {
		font-weight: 600;
		font-size: 26px;
		line-height: 1.26;
		letter-spacing: 0.01em;
		text-transform: capitalize;
	}

	&__desc {}

	&__labels {
		display: flex;
		gap: 20px;

		@media(max-width: 640px) {
			justify-content: center;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 4px;
		flex-wrap: wrap;
	}
}


.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	display: inline-flex;
}

.swiper-slide {}

.slider-buttons {
	position: absolute;
	top: 30%;
	display: flex;
	justify-content: space-between;
	width: 100%;

	@media(max-width: 1750px) {
		width: auto;
		top: -100px;
		right: 0;
		gap: 30px;
	}
}

.popular-slider-prev {
	position: absolute;
	left: -130px;
	transform: rotate(180deg);
}

.popular-slider-next {
	position: absolute;
	right: -130px;
}

.popular-slider-btn {
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: url('../../img/icon/arrow-slider.svg') left 30px center no-repeat;
	border: 1px solid #fff;
	cursor: pointer;

	@media(max-width: 1750px) {
		position: static;
	}

	@media(max-width: 640px) {
		display: none;
	}
}

/*-----------------------/POPULAR------------------------------*/
/*-----------------------WHY------------------------------*/

.why {
	padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
	padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);

	&__container {}

	&__title {
		text-align: center;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
		gap: clamp(1.25rem, 0.705rem + 10vw, 3.125rem);

		@media(max-width: 768px) {
			flex-direction: column;
		}
	}

	&__item {}
}

.item-why {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;

	flex: 0 0 (376px / 1420px * 100%);

	&__img {
		width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-bottom: clamp(1.563rem, 1.362rem + 1vw, 2.25rem);

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			border-radius: 50%;
			display: block;
			position: absolute;
			background-color: var(--accent-color);
			opacity: 0.12;
		}

		& svg {
			width: 40%;
			height: 40%;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 26px;
		letter-spacing: 0.01em;
		text-transform: capitalize;
	}

	&__text {
		margin-top: 11px;
	}
}


/*-----------------------/WHY------------------------------*/
/*-----------------------REVIEWS------------------------------*/

.reviews {
	position: relative;
	padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);

	.reviews-deco {
		position: absolute;
		top: -500px;
		left: 0;
		z-index: -1;

		@media(max-width: 475px) {
			width: 300px;
		}
	}

	.swiper-wrapper {
		align-items: flex-start;
	}

	&__container {
		max-width: 1020px;
		margin: 0 auto;
		position: relative;
		padding-top: 195px;
	}

	&__quotes {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 260px;
		text-transform: capitalize;
		color: var(--accent-color);
	}

	&__slider {}
}

.slider-reviews {
	&__slide {}

	&__text {
		font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
		line-height: 1.57;
		text-transform: capitalize;
	}

	&__info {
		margin-top: 40px;
	}

	&__name {
		font-weight: 600;
		font-size: 22px;
		line-height: 1.26;
		letter-spacing: 0.01em;
		text-transform: capitalize;
	}

	&__job {}

	&__button {
		display: flex;
		gap: 70px;
		width: 115px;
		position: absolute;
		bottom: 0;
		right: 15px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			background-color: #353F49;
			width: 1px;
		}
	}
}

.slider-reviews-btn {
	&.swiper-button-disabled {
		& svg {
			fill: #767F89;
		}
	}

	& svg {
		fill: #fff;
	}
}

.slider-reviews-prev {
	transform: rotate(180deg);
}

.slider-reviews-next {}


/*-----------------------/REVIEWS------------------------------*/
/*-----------------------GALARY------------------------------*/

.galary {
	background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
	padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;

	&__container {
		display: flex;
		align-items: center;
		gap: 63px;

		@media(max-width: 992px) {
			flex-direction: column;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		width: calc(720px / 1420px * 100%);

		@media(max-width: 992px) {
			width: 100%;
		}
	}

	&__item {
		//width: 350px;
		aspect-ratio: 7/11;
		flex: 0 0 47%;

		.swiper-wrapper {
			position: relative;
		}

		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__info {
		@media (max-width: 475px) {
			text-align: center;
		}
	}

	&__title {
		@media(min-width: 992px) {
			max-width: 480px;
		}
	}

	&__text {
		margin-top: 22px;
	}

	&__link {
		display: inline-block;
		margin-top: 45px;
		padding: 22px 42px;
		color: #fff;
		background-color: var(--accent-color);
		font-weight: 500;
		font-size: 24px;
		text-transform: capitalize;
		transition: all 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				background-color: #0e524a;
			}
		}
	}
}

/*-----------------------/GALARY------------------------------*/
/*-----------------------BEGIN------------------------------*/

.begin {
	position: relative;
	padding: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem) 0;

	.begin-wave {
		position: absolute;
		bottom: -250px;
		left: 0;
		z-index: -1;

		@media(max-width: 400px) {
			width: 300px;
		}
	}

	.begin-rect {
		position: absolute;
		top: -77px;
		right: 0;
		z-index: 1;

		@media(max-width: 400px) {
			width: 40px;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1240px;

		@media(max-width: 768px) {
			flex-direction: column;
			text-align: center;
			gap: 20px;
		}
	}

	&__slogan {
		font-weight: 600;
		font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
		line-height: 1.26;
		text-transform: capitalize;
		z-index: 2;

	}

	&__content {
		flex: 0 0 50%;
	}

	&__text {}

	&__link {
		margin-top: 50px;
		display: inline-block;
		margin-top: 45px;
		padding: 22px 42px;
		color: #fff;
		background-color: var(--accent-color);
		font-weight: 500;
		font-size: 24px;
		text-transform: capitalize;
		transition: all 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				background-color: #0e524a;
			}
		}
	}
}

/*-----------------------/BEGIN------------------------------*/
/*-----------------------FOOTER------------------------------*/

.footer {
	background-color: #1A242F;
	padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);

	.main__container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: clamp(1.875rem, -14.494rem + 26.19vw, 8.75rem);
		padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);

		@media(max-width: 1352px) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media(max-width: 600px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__block {
		@media(max-width: 1352px) {
			&:not(:first-child) {
				grid-column: auto;
				grid-row: 2/3;
			}

			&:first-child {
				grid-column: 1/5;
			}
		}
	}

	&__text {
		margin: 22px 0 32px;

		@media(min-width: 1352px) {
			width: 340px;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 30px;

		@media(max-width: 600px) {
			justify-content: center;
		}
	}

	&__social {
		& svg {
			fill: #555E68;
			transition: all .3s ease;

			@media(any-hover: hover) {
				&:hover {
					fill: #fff;
				}
			}
		}
	}

	.copyright__container {
		border-top: 1px solid #303A44;
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media(max-width: 700px) {
			flex-direction: column;
			gap: 50px;

			& span {
				text-align: center;
				line-height: 1.3;
			}
		}
	}
}

.links-footer {
	&__header {
		font-weight: 600;
		font-size: 26px;
		letter-spacing: 0.01em;
		text-transform: capitalize;
		margin-bottom: 11px;
	}

	&__list {}

	&__item {}

	&__link {
		white-space: nowrap;
		transition: color 0.2s ease;

		@media(any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
}


/*-----------------------/FOOTER------------------------------*/