.galary-left-block {
	padding: 0 15px;
	display: grid;
	grid-template: repeat(2, 500px)/ repeat(18, 1fr);
	gap: 35px;

	@media(max-width: 1400px) {
		grid-template-rows: repeat(2, 300px);
	}

	@media(max-width: 900px) {
		grid-template-rows: repeat(2, 200px);
	}

	@media(max-width: 550px) {
		grid-auto-rows: 200px;
		grid-template-columns: 1fr;
		grid-auto-columns: 1fr;
	}

	&__item {
		position: relative;
		@extend %imageAbsolute;

		@media(min-width: 550px) {
			grid-column: 5 span;
		}
	}

	&__big {
		@media(min-width: 550px) {
			grid-column: 8 span;
			grid-row: 2 span;
		}
	}
}