.line-galary {
	padding: 0 15px;
	display: grid;
	grid-template: 350px / repeat(5, 1fr);
	grid-auto-rows: 350px;
	gap: 30px;

	@media(max-width: 1600px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media(max-width: 991px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media(max-width: 676px) {
		grid-template-columns: repeat(1, 1fr);
	}


	&__item {
		position: relative;
		background: rgba($color: #fff, $alpha: 0);
		transition: all 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				background: rgba($color: #fff, $alpha: 0.6);

				& .line-galary__content {
					opacity: 1;
				}
			}
		}
	}

	&__image {
		@extend %imageAbsolute;

		& img {
			z-index: -1;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.3s ease;
	}

	&__title {
		@include baseFont(20px, $cl-base2);

		&+* {
			margin-top: 40px;
		}
	}

	&__text {
		@include simpleText2($cl-text1);
		@include textUpLine(180px, -25px);

		&::before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}