/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.content {
	flex: 1 1 auto;
}

.container {
	max-width: 1180px;
	margin: 0px auto;
}

/*------HI------------------------------------------------------------------------------------------------------------------------*/
.hi {
	background: #445163;
}

.hi__row {
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

.hi__body {
	color: #fff;
	padding: 0 30px 0 0;
}

.hi__title {
	font-size: 60px;
	line-height: 1.2;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.hi__list {
	font-size: 20px;
	line-height: 36px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.hi__list li {
	background: url('../img/check_icon_346.png') 0 7px no-repeat;
	padding: 0 0 0 30px;
}

.hi__img {}

/*---WHAT----------------------------------------------------------------------------------------------------*/
.title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}

.what {
	padding: 50px;
}

.what__row {
	display: flex;
}

.what__image {
	flex: 0 0 430px;
}

.what__image img {
	max-width: 100%;
}

.what__body {
	padding: 0 0 0 30px;
	flex: 1 1 auto;
}

.what__title {
	margin: 0 0 35px 0;
}

.what__text {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.what__text p:not(:last-child) {
	margin: 0 0 30px 0;
}

/*-----COLUMNS----------------------------------------------------------------------------------------------*/

.columns {
	background: #f4f6f4;
	padding: 50px 0 20px 0;
}

.columns__title {
	text-align: center;
	margin: 0 0 35px 0;
}

.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}

.columns__column {
	padding: 0 8px;
	flex: 0 1 50%;
	margin: 0 0 30px 0;
}

.columns__item {}

.item {}

.item__row {
	display: flex;
}

.item__image {
	flex: 0 0 200px;
}

.item__image img {
	max-width: 100%;
}

.item__body {
	flex: 1 1 auto;
	margin: 0 0 0 15px;
}

.item__title {
	font-size: 24px;
	line-height: 30px;
	color: #445161;
	margin: 0 0 15px 0;
}

.item__text {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

/*-----VERTICAL------------------------------------------------------------------------------------------*/

.vertical {}

.vertical__title {
	margin: 0 0 32px 0;
	text-align: center;
}

.vertical__body {
	max-width: 990px;
	margin: 0 auto;
}

.vertical__row {
	display: flex;
	margin: 0px -25px;
}

.vertical__column {
	flex: 0 1 33.333%;
	padding: 0px 25px;
	display: flex;
}

.vertical__item {
	border: #445163 1px solid;
	background: #445163;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.vertical__label {
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
}

.vertical__place {
	width: 100%;
	text-align: center;
	background: #fff;
	font-size: 40px;
	line-height: 30px;
	color: #445162;
	padding: 10px 0;
}

.vertical__text {
	padding: 15px 25px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	flex: 1 1 auto;
}

.vertical__btn {
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
	line-height: 18px;
	margin: 0 15px 10px 15px;

	color: #445161;
	background: #fff;
	border-radius: 10px;
}

.vertical__btn a {
	color: #445163;
}

/*---FOOTER----------------------------------------------------------------------------------------------------------*/
.footer {
	background-color: #f4f6f4;
}

.footer__row {
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}

.footer__text {
	font-size: 12px;
	letter-spacing: 0.3px;
	color: #969ea6;
}