.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 56px 0 0 0;
  z-index: 50;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.header__logo {
  z-index: 10;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
}
.header__list li:not(:last-child) {
  margin: 0 82px 0;
}
.header__link {
  color: #fff;
  font-size: 18px;
  line-height: 1.33;
  transition: all 0.1s linear;
}
.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.75;
}
@media (max-width: 1100px) {
  .header__list li:not(:last-child) {
    margin: 0 60px 0;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 30px 0 0 0;
  }
  .header__burger {
    display: block;
    height: 20px;
    width: 30px;
    position: relative;
    z-index: 10;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 9px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #006DFE;
    z-index: 9;
    padding: 150px 20px 100px;
    transition: all 0.3s ease;
    overflow: auto;
  }
  .header__list {
    display: block;
  }
  .header__list li:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .header__list li {
    border-bottom: #fff solid 2px;
    padding: 0 0 10px 0;
  }
  .header__link {
    font-size: 30px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
@media (max-width: 676px) {
  .header__row {
    padding: 0 30px;
  }
}