.root {
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 10px 20px;
   font-size: 16px;
   min-width: 300px;
   max-height: 40px;
}
.container {
   min-width: 370px;
   display: flex;
   gap: 10px;
   align-items: center;
}
