.header {
	padding: 44px 0;

	&__container {}

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 80px;
	}

	&__logo {
		z-index: 5;

		@media(min-width: 656px) {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 125%);
		}
	}

	&__menu {
		flex: 1 0 auto;
		display: flex;
		justify-content: space-between;
		z-index: 2;

		@media(max-width: 656px) {
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			padding: 40px;
			background: #fff;
			overflow: auto;
			transition: left 0.3s ease;

			&._active {
				left: 0;
			}
		}
	}

	&__list {
		flex: 1 0 auto;
		display: flex;
		gap: 80px;
		align-items: center;

		& li {}

		@media(max-width: 656px) {
			flex-direction: column;
			z-index: 4;
		}

		@media(min-width: 656px) {
			& li:nth-child(2) {
				flex: 1 0 auto;
			}
		}
	}

	&__link {
		@include baseFont (16px, $cl-base1);

		position: relative;

		&._active::before {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			top: 20px;
			height: 2px;
			background-color: $cl-base2;
			border-radius: 1%;
			opacity: 0.7;
		}

		@media(max-width: 656px) {
			font-size: 25px;
		}

		transition: opacity 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__burger {
		display: none;

		@media(max-width: 656px) {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: end;
			width: 40px;
			height: 30px;
			z-index: 5;

			& span {
				height: 3px;
				width: 100%;
				background: $cl-base2;
				transition: all 0.3s ease;
				border-radius: 10px;

				&:nth-child(2n - 1) {
					width: 70%;
				}

			}
		}
	}
}