.green-btn {
   padding: 15px 20px;
   background: #a5d364;
   border-radius: 110px;

   font-weight: 600;
   font-size: 16px;
   line-height: 19px;

   text-transform: uppercase;

   color: #ffffff;
}
