/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: rgb(148, 148, 148);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

/*-------------------------------------------*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #5e5373;
	z-index: 2;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.header__logo {
	flex: 0 0 60px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 3;
}

.header__logo img {
	display: block;
	max-width: 100%;
}

.header__burger {
	display: none;
}

.header__menu {}

.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}

.header__list li {
	margin: 0 0 0 20px;
}

.header__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}

.content {
	padding: 100px 0 0 0;
}

.content__text {
	font-size: 16px;
	line-height: 24px;
}

@media(max-width: 767px) {
	body.lock {
		overflow: hidden;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 35px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

	.header__burger span {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #18b5a4;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
	}

	.header__list {
		display: block;
		font-size: 24px;
	}

	.header__list li {
		margin: 0 0 10px 0;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu.active {
		top: 0;
	}

	.content {
		padding: 70px 0 0 0;
	}
}

.content__btn {
	margin: 20px 0;
	width: 280px;
	height: 60px;
	display: flex;
	border-radius: 0 0 10px 10px;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: all 0.8s ease 0s;
}

.content__btn:hover {
	border-radius: 10px;
	transition: all 0.8s ease 0.3s;
	box-shadow: 0 0 40px rgba(73, 115, 255, 0.5);
}

.content__btn:hover .content__wave {
	top: -50px;
}

.content__btn-text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 2;
	color: #fff;
}

.content__wave {
	width: 280px;
	height: 280px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #4973ff;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: all 0.8s ease 0s;
}

.content__wave::before,
.content__wave::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%, -96%, 0);
	transition: all 0.8s ease 0s;
}

.content__wave::before {
	background-color: #000;
	border-radius: 48%;

	animation: wave 5s linear infinite;
}

.content__wave::after {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 44%;
	animation: waves 10s linear infinite;
}

@keyframes waves {
	0% {
		transform: translate3d(-50%, -96%, 0);
	}

	100% {
		transform: translate3d(-50%, -96%, 0) rotate(360deg);
	}
}

/*---------------------------------------*/
.content__button {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: relative;
	display: inline-block;
	margin: 30px 0;
}

.content__button::after,
.content__button::before {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	border: 2px solid red;
	top: -10px;
	left: 50%;
	z-index: 1;
	margin: 0 0 0 -40px;
	transition: all 0.8s ease;
}

.content__button::before {
	animation: round 20s infinite linear;
}

.content__button::after {
	animation: round 25s infinite linear;
}

.content__button-text {
	position: relative;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 50px;
	border-radius: 50px;
	font-size: 24px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	transition: all 0.8s ease;
	top: 0;
	overflow: hidden;
	letter-spacing: 20px;
}

.content__button-text::before,
.content__button-text::after {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: #eee;
	transition: all 0.8s ease;
}

.content__button-text::before {
	left: 0;
	z-index: 2;
}

.content__button-text::after {
	right: 0;
}

.content__button-text span {
	position: relative;
	z-index: 2;
}

.content__button:hover::after,
.content__button:hover::before {
	left: 100%;
	opacity: 0;
}

.content__button:hover .content__button-text {
	top: -10px;
	box-shadow: 0 5px 0px 0 #117c71;
	color: #fff;
	transition: all 0.5s ease 0.2s;
}

.content__button:active .content__button-text {
	top: -7px;
	box-shadow: 0 2px 0px 0 #117c71;
	transition: all 0.1s ease 0s;
}

.content__button:hover .content__button-text::before,
.content__button:hover .content__button-text::after {
	background-color: #18b5a4;
}

.content__button:hover .content__button-text::before {
	width: 100%;
}

@keyframes round {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

/*--------------------------------------------------------*/
.galaty {
	display: flex;
	flex-wrap: wrap;
}

.galary__grid {
	flex: 0 0 25%;
	margin: 15px 0;
	padding: 0 15px;
}

.galari__inner {
	position: relative;
	display: flex;
	overflow: hidden;
}

.galari__inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease;
}

.galari__inner:hover .galari__img {
	transform: scale(1.3);
}


.galari__inner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.3s ease;
	opacity: 0;
	z-index: 3;
}

.galari__inner:hover::before {
	opacity: 1;
}

.galary__title {
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: absolute;
	bottom: -50px;
	left: 10px;
	transition: all 0.3s ease;
}

.galari__inner:hover .galary__title {
	bottom: 10px;
}

/*---TAB-----------------------------------------*/
.tabs {
	padding: 50px 0;

}

.tabs__items {
	display: flex;
}

.tabs__item {
	flex: 0 1 33.333%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
}

.tabs__item span {
	position: relative;
	z-index: 3;
}

.tabs__body {}

.tabs__bock {
	position: relative;
	padding: 10px;
	display: none;
	font-size: 20px;
	line-height: 1.5;
	border: 1px solid #fff;
}

.tabs__bock::before {
	content: '';
	height: 50px;
	width: 33.333%;
	position: absolute;
	top: -50px;
	border: 1px solid #fff;
}

.tabs__bock:target {
	display: block;
}

.tabs__bock:nth-child(1) {
	background: rgb(197, 14, 14);
}

.tabs__bock:nth-child(1)::before {
	background: rgb(197, 14, 14);
	left: 0;
}

.tabs__bock:nth-child(2) {
	background: rgb(14, 63, 197);
}

.tabs__bock:nth-child(2)::before {
	background: rgb(14, 63, 197);
	left: 33.333%;
}

.tabs__bock:nth-child(3) {
	background: rgb(14, 197, 29);
}

.tabs__bock:nth-child(3)::before {
	background: rgb(14, 197, 29);
	right: 0;
}

@media(max-width: 600px) {
	.tabs__item span {
		display: block;
		width: 100px;
		white-space: nowrap;
		text-align: center;
		overflow: hidden;
		font-size: 14px;
		text-overflow: ellipsis;
	}
}

/*---POPUP-1-----------------------------------*/
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.6s ease;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup:target .popup__content {
	opacity: 1;
	transform: perspective(600px) translate(0, 0) rotateX(0);
}

.popup__area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.popup__content {
	max-width: 800px;
	background-color: #fff;
	padding: 30px;
	position: relative;
	transition: all 0.6s ease;
	opacity: 0;
	transform: perspective(600px) translate(0, -100%) rotateX(45deg);
}

.popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #000;
}

.popup__title {
	font-size: 24px;
	margin: 0 0 15px 0;
}

.popup__text {
	font-size: 18px;
}