.new-collection {
	padding: 70px 0 100px;

	&__container {
		max-width: 760px;
		text-align: center;

		&+* {
			margin-top: 30px;
		}
	}

	&__title {
		@include baseFont(36px, $cl-base2);

		&+* {
			margin-top: 50px;
		}
	}

	&__text {
		@extend %simpletext1;

		@include textUpLine(185px, -25px);

		&:before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}