/*Обнуление*/

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside,
main,
section {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

input::-ms-clear {
	display: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

img,
svg,
video {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
}

p+p {
	margin-top: 1em;
}


/*--------------------*/

.wrapper {
	max-width: 1240px;
	margin: 0 auto;
}


.container {
	display: flex;
	gap: 22px;
}

.content {
	max-width: 500px;
}

.sup-title {
	font-size: 20px;
	margin-bottom: 15px;
}

.title {
	font-size: 30px;
	margin-bottom: 15px;
}

.text {
	font-size: 18px;
	margin-bottom: 15px;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #000;
	color: rgb(204, 38, 38);
}

.slider-block {
	min-width: 0;
}

.block-img {
	width: 300px;
	height: 300px;
	position: relative;
}

.block-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*-----------------------------------------------------------------------------*/
.slider {}

.slider-wrapper {}

.slider-slide {}

.slider-pagination {}

.slider-button-prev {}

.slider-button-next {}

.slider-scrollbar {}

/*----------------------------------------------------------------------*/
.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.swiper-button-prev {}

.swiper-button-next {}

.swiper-scrollbar {}