@import './variables';

.toolbar {
   height: $toolbar-height;
   background-color: white;
   display: flex;
   align-items: center;
   position: absolute;
   width: 100%;
   box-shadow: 0 4px 5px gray;
   z-index: 100;

   &__btn {
      height: 25px;
      width: 25px;
      border: none;
      outline: none;
      cursor: pointer;
      background-size: cover;
      margin-left: 10px;
   }
   .brush {
      background: url('../accets/image/brush.png') no-repeat center center;
   }
   .rect {
      background: url('../accets/image/rect.png') no-repeat center center;
   }
   .circle {
      background: url('../accets/image/circle.png') no-repeat center center;
   }
   .eraser {
      background: url('../accets/image/eraser.png') no-repeat center center;
   }
   .line {
      background: url('../accets/image/line.png') no-repeat center center;
   }
   .undo {
      background: url('../accets/image/undo.png') no-repeat center center;
      margin-left: auto;
   }
   .redo {
      background: url('../accets/image/redo.png') no-repeat center center;
   }
   .save {
      background: url('../accets/image/save.png') no-repeat center center;
      margin-right: 10px;
   }
}

.settingbar {
   height: $toolbar-height;
   background-color: white;
   display: flex;
   align-items: center;
   position: absolute;
   width: 100%;
   box-shadow: 0 4px 5px gray;
   top: $toolbar-height;
}
