/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
	width: 50%;
}

.ha1 {
	font-size: 30px;
	color: #445161;
	font-weight: 700;
	line-height: 4;
}

.ha2 {
	font-size: 30px;
	color: #445161;
	line-height: 3;
}

.boldtxt {
	font-weight: 700;
	line-height: 3;
}

.red_text {
	color: red;
	line-height: 3;
}

.ha3 {
	font-size: 20px;
	color: #445161;
	line-height: 3;
}

.right_txt {
	text-align: right;
	line-height: 3;
}

.small_big {
	font-style: oblique;
	line-height: 3;
}

.cur {
	font-style: italic;
	line-height: 3;
}

.under {
	text-decoration: underline;
	line-height: 3;
}

.center_txt {
	text-align: center;
	line-height: 3;
}

.hah2 {
	font-size: 24px;
	color: #445161;
	line-height: 3;
}

.line {
	text-decoration: line-through;
	line-height: 3;
}

.min_txt {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	line-height: 3;
}

.text_sh {
	text-shadow: 1 1 1 #000;
	line-height: 3;
}