//=============================================================

$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1170;

@mixin adaptivValue($property, $startSize, $minSize, $type, $maxWidthInterval: 0, $minWidthInterval: 0) {
	$addSize: $startSize - $minSize;

	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;

		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthContainer - $minWidth}));
		}
	}

	@else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;

		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
		}
	}

	@else if $type==3 {
		#{$property}: $startSize + px;

		@media (max-width: #{$maxWidthInterval + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidthInterval + px}) / #{$maxWidthInterval - $minWidthInterval}));
		}

		@media (max-width: #{$minWidthInterval + px}) {
			#{$property}: $minSize + px;
		}
	}

	@else {
		//всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
	}
}

//=========================================================================================
.y {
	@include adaptivValue("font-size", 100, 50, 3, 1000, 900);
}