@font-face {
    font-family: 'Inter';
    src: local('Inter Extra Light Italic BETA'), local('Inter-Extra-Light-Italic-BETA'),
        url('Inter-ExtraLightItalicBETA.woff2') format('woff2'),
        url('Inter-ExtraLightItalicBETA.woff') format('woff'),
        url('Inter-ExtraLightItalicBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }