//Georgia

@font-face {
	font-family: 'Georgia';
	src: url('../../fonts/Georgia/Georgia-Bold.eot');
	src: local('Georgia Bold'), local('Georgia-Bold'),
		url('../../fonts/Georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Georgia/Georgia-Bold.woff') format('woff'),
		url('../../fonts/Georgia/Georgia-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../fonts/Georgia/Georgia.eot');
	src: local('Georgia'),
		url('../../fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Georgia/Georgia.woff') format('woff'),
		url('../../fonts/Georgia/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//Lato

@font-face {
	font-family: 'Lato';
	src: url('../../fonts/Lato/Lato-Regular.eot');
	src: local('Lato Regular'), local('Lato-Regular'),
		url('../../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Lato/Lato-Regular.woff') format('woff'),
		url('../../fonts/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../../fonts/Lato/Lato-Medium.eot');
	src: local('Lato Medium'), local('Lato-Medium'),
		url('../../fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Lato/Lato-Medium.woff') format('woff'),
		url('../../fonts/Lato/Lato-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../../fonts/Lato/Lato-Semibold.eot');
	src: local('Lato Semibold'), local('Lato-Semibold'),
		url('../../fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Lato/Lato-Semibold.woff') format('woff'),
		url('../../fonts/Lato/Lato-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}