.footer {
	padding-top: 104px;
	padding-bottom: 144px;
	background: var(--block-color);

	&__container {}

	&__content {
		display: flex;
		flex-direction: column;

		@media(max-width: 500px) {
			align-items: center;
		}
	}

	&__logo {
		&+* {
			margin-top: 75px;
		}

		width: 107px;

		& svg {
			width: 100%;
		}
	}

	&__list {
		& li+li {
			margin-top: 60px;
		}
	}

	&__link {
		font-weight: 600;
		font-size: 25px;
		line-height: 1.2;
		color: #FFFFFF;
		transition: opacity 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}