.header {
	padding: 17px 0;
	z-index: 99;

	&__container {}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		z-index: 5;
	}

	&__menu {
		margin-right: 55px;

		@media(max-width: 992px) {
			margin-right: 0;
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: #fff;
			transition: left 0.3s ease;
			overflow: auto;
			z-index: 3;

			&._active {
				left: 0;
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: clamp(2.5rem, -2.421rem + 7.94vw, 4.375rem);

		@media(max-width: 992px) {
			flex-direction: column;
			padding: 85px 50px 30px;

			& li {
				padding-bottom: 6px;
				border-bottom: 2px solid var(--main-color);
			}
		}
	}

	&__link {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		color: var(--menu-link-color);
		transition: opacity 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}

		@media(max-width: 992px) {
			font-size: 30px;
		}
	}

	&__button {
		z-index: 5;
		display: flex;
		gap: 35px;
		align-items: center;
	}

	&__sing {
		color: #000;
		line-height: 1.2;
		transition: opacity 0.3s ease;

		@media(any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}

		@media(max-width: 510px) {
			display: none;
		}
	}

	&__start {
		padding: 13px 50px;
		line-height: 1.2;

		@media(max-width: 510px) {
			padding: 10px 30px;
		}
	}

	&__burger {
		display: none;

		@media(max-width: 992px) {
			display: block;
			width: 30px;
			height: 18px;
			position: relative;
			z-index: 5;

			& span {
				position: absolute;
				left: 0;
				right: 0;
				height: 2px;
				background-color: var(--main-color);
				transition: all 0.3s ease;
			}

			& span:first-child {
				top: 0;
			}

			&._active span:first-child {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}

			& span:last-child {
				bottom: 0;
			}

			&._active span:last-child {
				bottom: 50%;
				transform: translateY(50%) rotate(-45deg);
			}

			& span:nth-child(2) {
				top: 50%;
				transform: translateY(-50%) scale(1);
			}

			&._active span:nth-child(2) {
				transform: translateY(-50%) scale(0);
			}
		}
	}

}