.home {
	padding: 175px 0;
	position: relative;
	min-height: 895px;

	@media(max-width: 992px) {
		min-height: auto;
	}

	&__container {}

	&__block {
		max-width: 440px;
		z-index: 2;
	}

	&__title {
		@include adaptiv-font(65, 40);
		line-height: 1.14;

		&+* {
			margin-top: 30px;
		}
	}

	&__text {
		&+* {
			margin-top: 60px;
		}
	}

	&__button {}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}