@font-face {
	font-family: 'icon';
	src: url('../../fonts/icon.eot?cx66pp');
	src: url('../../fonts/icon.eot?cx66pp#iefix') format('embedded-opentype'),
		url('../../fonts/icon.ttf?cx66pp') format('truetype'),
		url('../../fonts/icon.woff?cx66pp') format('woff'),
		url('../../fonts/icon.svg?cx66pp#icon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
	content: "\e900";
}

._icon-headphones:before {
	content: "\e901";
}

._icon-instogram:before {
	content: "\e902";
}

._icon-like:before {
	content: "\e903";
}

._icon-mail:before {
	content: "\e904";
}

._icon-patreon:before {
	content: "\e905";
}

._icon-search:before {
	content: "\e906";
}

._icon-star:before {
	content: "\e907";
}

._icon-tick:before {
	content: "\e908";
}

._icon-twitter:before {
	content: "\e909";
}

._icon-youtube:before {
	content: "\e90a"
}